[2017-05-16 15:08] peterdesmet opened #6 "What are the relevant fields in Detections for data publication?"
To be discussed on Tuesday, here's a first review of the fields in Detections and which ones we should map to Darwin Core.

* [x] `x1`: index column, ignore
* [ ] `receiver`: now in dynamicProperties, maybe locationID
* [ ] `transmitter`: organismID
* [ ] `transmitter_name`: is `NA` for all, ignore?
* [ ] `transmitter_serial`: is `NA` for all, ignore?
* [ ] `sensor_value`: is `NA` for all, ignore?

[2017-07-06 09:12] peterdesmet commented on #2
Figure should be created in R, from public dataset, which contains:

* scientificname
* vernacular name
* public detections
* public tags
* years

Does not contain:

* species habitat

[2017-12-05 10:45] peterdesmet opened #4 "Can tags be assigned to multiple network projects"
I noticed in the data that `A69-1601-34473` is assigned to two network projects:

* Dijle
* Zeeschelde

Is this to be expected?

[2017-12-05 10:52] PieterjanVerhelst commented on #4
That should not be the case. This tag (Wels catfish (Silurus glanis)) is part of the animal network 'Dijle 2015'.

[2017-12-05 11:11] peterdesmet commented on #4
My information is based on an export of the OTN database, so best to correct it there then. I'm assigning this issue to you. 😄

[2017-12-05 11:29] peterdesmet opened #5 "Provide deployment information / status of network"
As a test I've made a deployment (+ receiver) extraction from the data.

https://github.com/inbo/fish-tracking-data-publication/blob/master/data/output/temp/deployment.csv

Each record is basically a deployment (file) that was uploaded to the database. I wonder if that information will be relevant for the open data/external users ?

1. Since the coordinates of the receivers are going to be in the

[2017-12-05 12:23] PieterjanVerhelst commented on #5
1. To my opinion, it is necessary to give the locations of the stations, since this is the added value of an international network. If they are already given with the detections, than it is no problem to give them from the network
2. we don't us it as such, but as it is a dynamic network, so relevant to mention when stations were active. For example, if I want to know if Belgian fish migrated to T

[2017-12-05 12:24] PieterjanVerhelst commented on #4
When I look in the database, I find the tag to be linked to the Dijle 2015 project. Can you create a temp print of where the problem occurs?

[2017-12-05 12:51] jreubens commented on #5
Point 1 and 3 PJ covered.
For Point 2: we don't use as such, but have been thinking to use it. However, For the moment we don't have a good way to do so. Something to think about...
For Point 4: only deploylat/long are consistently filled out. The others can be used. This can be interesting for instance if you work with a mooring in a dynamic environment where you expect moorings to move around...

[2017-12-05 12:52] peterdesmet commented on #4
If you go to https://github.com/inbo/fish-tracking-data-publication/blob/master/data/output/temp/tag_animal.csv and then add `A69-1601-34473` you'll see the two records. This is based on an export of a couple of weeks ago. Might be corrected already?

[2017-12-05 12:58] PieterjanVerhelst commented on #4
Strange, I don't think this has changed in the recent past.
@jreubens can you tell if this error was corrected? Since it is correct in the ETN database, perhaps something goes wrong in a querry at a later stage?

[2017-12-05 13:00] jreubens commented on #4
I don't change any information of INBO tags... Thus I didn't correct this.
Can you add Benny Whydooghe to this thread, he can look to the querry...

[2017-12-05 13:04] peterdesmet commented on #4
Also adding @stijnvanhoey to this thread: he created the query.

[2017-12-05 13:27] peterdesmet commented on #5
Thanks! So to provide information on the **past** status of the network, we could provide a file with **deployments** (where even a recover and immediate redeployment will be seen as two deployments):

* [x] `deployment_fk`: unique key for the deployment
* [x] `deployment_station_name`: coded and stable name of the location. **Allows linking to the detections**
* [x] `deployment_deploy_date_time`:

[2017-12-05 13:34] PieterjanVerhelst commented on #5
I am not sure if the file needs to be given. Or is this 'read onlye'? Do external users get the data via a data download?
Also, to my opinion it is not necessary to give the receiver; station with coordinates suffices.
The owner organization is relevant I think: if a user wants more information about one particular station, they know who to contact.
To your additional question: an empty file is up

[2017-12-05 13:50] peterdesmet commented on #5
How to provide this information is to be decided, but it should be public (open), simple, downloadable and read-only. Ideally it's also versioned (so you can find an older version) and findable under a stable URL. An easy implementation would be to generate such a CSV, place it on GitHub (or even better: Zenodo) each time we republish the data. For a more "live" version, we could guide users to th

[2017-12-05 14:14] PieterjanVerhelst commented on #5
I think I misunderstood, does the `file` in the checkbox stand for a detection file per deployment?

[2017-12-05 14:19] peterdesmet commented on #5
Yes, e.g. `VR2W_120095_20150609_1.csv`

[2017-12-05 14:21] PieterjanVerhelst commented on #5
Ok, than I didn't misunderstood. However, on second thoughts it may be interesting to include the file. For example when someone is interested if his/her tagged fished were detected at a particular station within a particular time window.

[2017-12-05 14:24] peterdesmet commented on #5
How would you know that from the file name? If you have all the detections in one database (with open receivers), you would know that anyway, right? And for the open data detections, you also have the station_name in the detections.

[2017-12-05 14:29] PieterjanVerhelst commented on #5
Indeed, true. And since this is about the status of the network, we don't need to take into account the separate files.

[2017-12-05 14:36] peterdesmet commented on #5
Well, the file name itself is not relevant, but filename = deployment, and those are relevant to know the **historic** status of the network. E.g.

station | deployment | deployed at | recovered at | status
--- | --- | --- | --- | ---
A | 1 | 2016-01-01 | 2016-06-30 | -
A | 2 | 2016-09-30 | 2017-01-01 | -
A | 3 | 2017-01-01 | 2017-09-01 | ACTIVE

1. You can see there was a gap in the detection win

[2017-12-05 14:47] PieterjanVerhelst commented on #5
Yes indeed, that is relevant to keep track of the activity of a station

[2018-02-07 13:06] bwydoogh commented on #8
Done.

Added the following fields to the `detections_view` (matches with your demand, except for the **deployment latitude and longitude**: wave-gliders are not supported yet by the ETN DB. But once they are supported, the view will be modified as such) :

[code]

[2018-05-28 14:06] stijnvanhoey commented on #4
@bwydoogh, any update on this?

[2018-05-29 06:18] bwydoogh commented on #4
@stijnvanhoey I don't think this is still an issue. Running below query results in one single record (thus that tag has been released just once).

[code]

The tagged animal is linked to the tag project 2015_dijle.

[2018-05-29 08:33] stijnvanhoey commented on #4
@peterdesmet using the etn package:

[code]
results in a single entry. Is this solving the issue. Notice that for the tags we only provide filtering on animal_projects, which are listed in the table transmitter output table as `projectcode`.

[2019-01-16 13:33] peterdesmet opened #1 "Check dataset for ghost detections post battery end date"
Here's a quick overview of the data that will be included in the dataset we will publish. @PieterjanVerhelst @IPauwels can you have a look if this makes sense? Let me know if you need more info.

animal_project_name | animals.scientific_name | detections | individuals | stations | start_date | end_date
--- | --- | --- | --- | --- | --- | ---
2011 Rivierprik | Lampetra fluviatilis | 114605 | 29 | 2

[2019-01-16 13:33] peterdesmet opened #2 "Figure with detection days by year and species"
As discussed with @IPauwels, for taxonomic coverage, create a figure with:

* [ ] Rows: species
* [ ] Columns: year
* [ ] One column with total number of public tags
* [ ] Values: number of **published** detection days (cumulative)
* [ ] Colour cells on values (per species, see figure below)
* [ ] Indicate scientific name and English vernacular name
* [ ] Indicate years with data that are under mo

[2019-01-16 13:33] peterdesmet opened #3 "Figure with tags by year and species"
As discussed with @IPauwels, for sampling coverage, create a figure with:

* [ ] Rows: species
* [ ] Columns: year
* [ ] Values: number of **deployed** tags (including not yet published tags)
* [ ] Colour cells on values (per species, see figure below)
* [ ] Indicate scientific name and English vernacular name
* [ ] Maybe group species on habitat: obligatory marine, etc. (or extra column)
* [ ] Ma

[2019-01-16 13:54] PieterjanVerhelst commented on #1
Is there still need for a conversation & brainstorm to implement rules related to ghost detections?

[2019-01-17 10:04] peterdesmet opened #7 "Projects to include for data publication"
Overview of the projects that will be included in the dataset we will publish:

animal project | scientific name | indiv | detections | include in dataset
--- | --- | --- | --- | ---
2011 Rivierprik | Lampetra fluviatilis | 39 | 114.605 | yes
2012 Leopoldkanaal | Anguilla anguilla | 104 | 2.215.830 | yes
2013 Albertkanaal | Anguilla anguilla | 161 | 4.784.914 | yes
2013 Albertkanaal | Salmo salar

[2019-01-17 10:05] peterdesmet commented on #7
@PieterjanVerhelst @IPauwels @LienReyserhove this issue was originally posted at https://github.com/inbo/etn/issues/68 but then turned into a discussion about ghost detections. Can you check/discuss the above again? Does this include all data from PJ's PhD?

[2019-01-18 16:00] PieterjanVerhelst commented on #7
@peterdesmet I found other values for the different columns. Also, in the data I requested via the ETN R-app, Petromyzon marinus was attributed to the 2015 Dijle project instead of 2014 Demer. However, in the ETN database, Petromyzon marinus is a species tagged in 2014 Demer.
@IPauwels, could you comment on this?

Further, the data from the Schelde eels from my PhD is not included. I am still plan

[2019-01-18 16:49] peterdesmet commented on #7
The reason why you have different data is because my table was old. 😄 I've moved your table to the issue body. The only remaining difference is the 2012 Leopoldkanaal which was not in your list.

Would be nice to include your PhD data data! 👏 What are the project codes for those?

[2019-01-21 13:03] PieterjanVerhelst commented on #7
I wrongly used the information from the network codes to provide an update of the table above. Therefore, I checked the info again, but this time for the animal codes. I also included the data from my PhD (animal code: 2015_phd_verhelst). @peterdesmet, is it possible to replace the table above by the table given here? Just note that the end date of the 2012_Leopoldkanaal project is wrong due to gh

[2019-01-23 15:22] peterdesmet commented on #7
Table replaced at the top and removed from your comment to keep it easy to read (all of this is versioned).

[2019-02-25 15:24] peterdesmet opened #8 "Required fields for publication of DwC occurrence data"
For the publication of DwC occurrence data, the following fields are required at a detection view level:

## Already in detection_view

* [x] `detections_view.id_pk`: is this a stable identifier for the detection that can be made public?
* [x] `detections_view.datetime`
* [x] `detections_view.transmitter` (= `tags.tag_code_space`)
* [x] `detections_view.receiver` (= `receivers.receiver`)
* [x] `de

[2019-02-25 15:24] #8 closed

[2019-02-25 16:54] IPauwels commented on #7
Indeed, the sea lampreys were tagged in the Demer project. I did not check the table again regarding the number of individuals per species per project. Please let me know if it is better to double check it again..

So, if I am correct, we now have:
- PhD Verhelst (which entails most detections on Westerschelde and Zeeschelde, apart from Albertkanaal):
paper - yes
dataset - no (not yet, study still

[2019-02-26 15:20] peterdesmet commented on #7
Discussed in person with @IPauwels and @PieterjanVerhelst:

- Updates since https://github.com/inbo/etn-occurrences/issues/7#issuecomment-467088629: `2015 PhD Verhelst` + `2013 Albertkanaal` data will be included (assuming dataset will only be published in June).
- I created an overview of animal projects and in which network projects individuals were detected in a separate Google spreadsheet, but

[2019-02-26 18:49] jreubens commented on #7
both Homarus and PhD can be included

[2019-02-27 07:56] peterdesmet commented on #7
@jreubens @PieterjanVerhelst thanks for confirming. Table updated: Homarus + PhD Jan Reubens included, 2015 PhD Verhelst Gadus morhua excluded (used for PhD Inge van der Knaap)

[2019-02-27 07:56] #7 closed

[2019-02-27 08:11] peterdesmet opened #9 "Correct scientific name "salmo salar" for 29 animals in 2013 Albertkanaal"
29 animal/tags in `2013 Albertkanaal` have scientific name `salmo salar` rather than `Salmo salar`. That causes them to be shown separately in overviews. Who has access to this project in ETN and can update their scientific name?

[code]

[2019-02-27 08:19] peterdesmet opened #10 "Use consistent common name"
Only 11 of the 810 animals have a common name:

- 7 `Atlantic cod` (`2015 PhD Verhelst`)
- 4 `Fint` (`2015 Fint`)

The definition of the field is `The species' common English name`, so `Fint` is incorrect. I would argue to either always populate the common English name or never.

[2019-02-27 08:29] peterdesmet opened #11 "Add missing capture and release latitude/longitude"
**Update: this text and table is an updated with the most recent information, based on the comments in this usse**

It is important that the **capture event** and **release event** have coordinates. This is already the case for 574 animals, but for 236 those coordinates are missing. I understand it might be difficult to retroactively add those coordinates, but maybe it is possible based on the `ca

[2019-02-27 08:59] peterdesmet opened #12 "Use vocabulary for wildOrHatchery"
The field `wildOrHatchery` expects:

Currently the following values are used:

current value | controlled value | animal project | number of animals | remarks
--- | --- | --- | --- | ---
hatched | hatchery | 2013 Albertkanaal | 62 | corrected
hatchery | hatchery | 2013 Albertkanaal | 29 | ok
wild | wild | 2011 Rivierprik | 39 | ok
wild | wild | 2012 Leopoldkanaal | 104 | ok
wild | wild | 2013 Albe

[2019-02-27 09:04] #4 closed

[2019-02-27 09:14] peterdesmet opened #13 "Use controlled value for lengthType"
The values for `length_type`, `length2_type`, `length3_type`, `length4_type` are currently free text, but it would be better if these used a controlled vocabulary. I would suggest to use lowercase, e.g. `total length`, which is already the case for most animals.

Table with current values and how to update these (including fixing some typos):

current value | controlled value | projects | animals

[2019-02-27 10:39] peterdesmet opened #14 "Salmo salar: weight without unit"
44 animals from `2013 Albertkanaal` have a weight without unit (e.g. `A69-1601-34437`). This should be corrected.

[2019-02-27 10:47] peterdesmet opened #15 "Move durif index info to age + age_unit"
590 animals mention `durif_index` in `comments`, e.g.:

[code]

What is `durif_index`? Is it important? Can we structure this information better, e.g. by creating an extra field in ETN or by using one of the length fields:

[code]

Projects with `durif_index` in the comments:

projectName | animals
--- | ---
2011 Rivierprik | 39
2012 Leopoldkanaal | 104
2013 Albertkanaal | 162
2014 Demer | 16
2015

[2019-02-27 10:53] peterdesmet opened #16 "Incorrect release date"
19 animals in `Albertkanaal 2013` have the comment:

This should be corrected:

[code]

[2019-02-27 11:05] peterdesmet opened #17 "Use controlled value for captureMethod"
The values for `capture_method` is currently free text, but it would be better if we used a controlled vocabulary. I would suggest to use **lowercase English names**, e.g. `line fishing` as in suggested in the ETN application. This would then be consistent with `lenghtType`(#13) values.

My suggestion:

captureMethod | controlled value | animals | remarks
--- | --- | --- | ---
Ankerkuil | `stow ne

[2019-02-27 11:09] peterdesmet opened #18 "Use controlled value for sex"
The guideline for the field `sex` is:

This is not the case for all:

sex | controlled value | animals
--- | --- | ---
f | `female` | 60
F | `female` | 367
Female | `female` | 1
M | `male` | 49
(empty) | (empty) | 333

333 have no value. Should we be explicit and set these to `U`?

[2019-02-27 18:18] PieterjanVerhelst commented on #17
*As there are different fyke net types, I would suggest to state ´double fyke nets´ as all animals currently tagged were caught with these type of fyke nets.
*´line fishing´ is appropriate for angling.
*´Ankerkuil´ = ´stow nets´ (@IPauwels, some time ago, I finally found the correct English term for the method ;-) http://www.fao.org/fishery/geartype/227/en).

[2019-02-27 18:30] peterdesmet commented on #17
@PieterjanVerhelst thanks. Table above has been updated with your suggestions. What about `hand line`?

[2019-02-27 18:33] PieterjanVerhelst commented on #17
@peterdesmet `hand line` is `line fishing` as well.
`hand catch while diving` could be replaced by `capture by hand during diving`?

[2019-02-27 18:45] peterdesmet opened #19 "Define which network projects to include"
The dataset (= `animal_project`s defined in #7) currently have detections in the following `network_project`s:

Network project | detections | IMIS link
--- | --- | ---
Albertkanaal | 6057331 | http://www.vliz.be/en/imis?module=dataset&dasid=5876
Bovenschelde | 114605 | http://www.vliz.be/en/imis?module=dataset&dasid=5877
BPNS | 22468 | http://www.vliz.be/en/imis?module=dataset&dasid=5843
Demer |

[2019-02-27 18:50] peterdesmet commented on #17
`during diving` sounds a bit odd to me, used: `capture by hand while diving`.

[2019-02-27 18:53] PieterjanVerhelst commented on #18
I suggest to use `male` and `female` (=full written, lower case letters).
When there is no sex, I suggest to state `NA`

[2019-02-27 19:10] PieterjanVerhelst commented on #15
This is the life stage index of eels, identified using the protocol by 'Durif et al. (2005) The silvering process of Anguilla anguilla: a new classification from the yellow resident to the silver migrating stage.' Specifically, based on morphometric measurements, we can identify if the tagged eel is a yellow (Durif life stages I, FII, FIII) or silver (stages FIV, FV and MII) eel.
As such, this fie

[2019-02-27 19:15] peterdesmet opened #20 "Get IMIS dataset IDs for animal projects"
The network projects are listed in IMIS (see #19), but it seems the animal projects (#7) are as well. See for example:

Which could be `2015 PhD Verhelst`.

@jreubens Is the IMIS dataset ID stored in ETN? If not, I think we should link the two, as it would be really useful for the data paper. The overview of child datasets at http://www.vliz.be/en/imis?module=dataset&dasid=5250 should get us start

[2019-02-27 19:19] peterdesmet commented on #18
I agree, but for no sex would leave the field empty or set to `unknown`. Note that if we take this approach:

- A lot more values need to be updated
- We should request to change the definition of the field

[2019-02-27 19:23] peterdesmet commented on #15
Using a separate field will be necessary, as for a lot of eels all 4 length fields are already used.

[2019-02-27 19:25] peterdesmet commented on #15
Note that there is also an `age` field that currently doesn't seem to be used. It even has an `age_unit` which we could set to `Durif index`...

[2019-02-28 07:47] jreubens commented on #17
I agree with the changes made!

[2019-03-04 13:59] peterdesmet commented on #17
Great! Can I or @LienReyserhove get access to ETN database to update this field for all projects? If not: who can make the updates?

[2019-03-05 09:41] peterdesmet commented on #20
Checked using the function `etn.get_projects()`. `imis_dataset_id` is included in the ETN database.

[2019-03-05 10:00] peterdesmet commented on #20
I have updated the table above. Only `Homarus` does not have an IMIS project.

[2019-03-05 10:00] #20 closed

[2019-03-05 10:14] jreubens commented on #17
As mentioned before, I need to discuss this with Filip Waumans.
Is on the agenda for next week ( 11/03). I keep you updated

[2019-03-06 11:55] IPauwels commented on #17
Could be something for my colleague, Karen Robberechts, of our team to update the database with the correct terms, but currently she is very busy with field work. So, acces to ETN database for Peter or Lien would be great.
@peterdesmet: you can always contact Karen Robberechts as well and explain her what to do during my absence, just knowing that she is not always available due to the field work.

[2019-03-12 08:33] jreubens commented on #20
I'll make a IMIS project for Homarus.

[2019-03-12 08:37] jreubens commented on #16
This is something that can be done at the webapp. Who of INBO will do this?

[2019-03-12 08:41] jreubens commented on #15
I agree with @peterdesmet. You can use this field for the durif index.
Durif is limited to only one species, thus it is not recommanded to add extra fields on animal level.
@filipWaumans: can you do this on DB level, or should this be done manually?

[2019-03-12 09:11] PieterjanVerhelst commented on #15
Indeed, the age field justifies the means very well.

[2019-03-12 11:26] peterdesmet commented on #17
Ok, will assign to @karenrobberechts or us pending access to database.

[2019-03-12 14:23] peterdesmet commented on #17
@fwaumans see the table in the issue body. I've updated the CAPTURE_METHOD where I could, but for the rest I either don't have access (`HAND - DIVING`) or it's too cumbersome to do manually. Can you update the rest to their `controlled value`?

E.g. `FYKE NETS` -> `double fyke nets`

[2019-03-12 14:31] peterdesmet commented on #15
Ok, please confirm:

- `age_unit` should be set to `Durif index` (capital D)?
- The `age` should be e.g. `100.69925`?
- Are `FV` or `FII` valid Durif indeces?
- The `; durif_index : ` part (often empty) should be removed from the comments, but any remaining comment should stay, so: `ging niet meteen onder bij uitzetten ; durif_index :` -> `ging niet meteen onder bij uitzetten`

[2019-03-12 14:34] peterdesmet commented on #16
We now can, but @IPauwels @karenrobberechts: where can we find the correct release date for these animals? They are all `salmo salar` from `kwekerij Erezee`.

[2019-03-12 14:40] peterdesmet commented on #9
Fixed in DB.

[2019-03-12 14:40] #9 closed

[2019-03-12 14:42] peterdesmet commented on #10
Suggestions anyone regarding populating this field?

- Either we do it for all, or not at all. I think it would be useful.
- I would choose the English common name (cf. definition of field)

[2019-03-12 14:52] peterdesmet commented on #10
Suggestion:

scientific name | common name | animals | alternatives
--- | --- | --- | ---
Alosa fallax | twaite shad | 44 | twait shad
Anguilla anguilla | European eel | 402 |
Cyprinus carpio | common carp | 2 | European carp
Gadus morhua | Atlantic cod | 147 | 
Homarus gammarus | European lobster | 2 | common lobster
Lampetra fluviatilis | river lamprey | 39 | European river lamprey, lampern
Petr

[2019-03-12 14:54] peterdesmet commented on #11
@IPauwels where would we be able to find the capture/release coordinates for fish in 2013 Albertkanaal, 2011 Rivierprik, 2015 Fint.

@jreubens @pieterjanverhelst can you add the missing coordinates for Homarus & 2015 PhD Verhelst?

[2019-03-12 15:03] peterdesmet commented on #12
@ipauwels @pieterjanverhelst: do you know if the remaining animals in 2013 Albertkanaal and 2015 Fint are wild or from hatchery?

[2019-03-12 15:04] peterdesmet commented on #13
@jreubens @pieterjanverhelst Feedback on controlled vocab for length measurement?

[2019-03-12 15:04] peterdesmet commented on #14
@ipauwels @pieterjanverhelst. Any idea what unit should be used?

[2019-03-12 15:06] peterdesmet commented on #18
@fwaumans @jreubens feedback regarding controlled vocab for sex?

- Lowercase `f`
- Uppercase `F` (current suggestion in ETN app)
- Full lowercase `female` (suggested by @PieterjanVerhelst)

And what to do about unknown values:

- Leave empty
- Set to `U` / `unknown`

[2019-03-12 15:08] jreubens commented on #11
homarus should be updated

[2019-03-12 15:11] jreubens commented on #10
I agree with the 'marine' species. I leave it to @PieterjanVerhelst to decide for roach and lamprey (those are the only two I'm doubting)

[2019-03-12 17:48] PieterjanVerhelst commented on #15
@peterdesmet @jreubens, there is some ambiguity in if we want to change a column name (´age_unit´ into ´Durif index´) or change the levels of a column.
What I would suggest, is that we have at least a column with ´life stage´ as this is applicable for many species (e.g. juvenile versus adult; we did this post-data collection for wels catfish for instance).
Specifically for eels, we can use the dur

[2019-03-12 17:54] PieterjanVerhelst commented on #10
The common names are the correct ones, except for 'European river lamprey' anc 'common chub'. This can be changed to just 'river lamprey' and 'chub' respectively.

[2019-03-12 18:13] peterdesmet commented on #15
Great, aligns with what I was thinking (i.e. not changing the column names).

[2019-03-12 22:15] PieterjanVerhelst commented on #11
The missing lats and longs are for cods tagged during my PhD. I updated some of them, but I am still missing coordinates.
@jreubens, do you have the coordinates of the following locations:
'SS AURETTA', 'D5 C-Power', 'C05 Belwind', 'Kilmore' and 'Spijkerplaat (thv Stella)'

[2019-03-12 22:19] PieterjanVerhelst commented on #12
All eels are wild and the salmons are hatchery.

[2019-03-12 22:22] PieterjanVerhelst commented on #13
I suggest to use `total length`, `fork length`, `pectoral fin length`, `horizontal eye diameter` and `vertical eye diameter`.

[2019-03-12 22:24] PieterjanVerhelst commented on #14
The Salmo salar have weight unit `g`. Note that the sync tags don't have a weight at all.

[2019-03-13 10:59] jreubens commented on #15
@fwaumans thus here we need to foresee an extra metadata field 'life stage'. Can you provide this

[2019-03-13 11:17] jreubens commented on #11
@PieterjanVerhelst : D5 you can find at animals of my PhD; Kilmore and C05 are also deployment station. Spijkerplaat en SS aurettaa will have to search for on wreck chart and navigation chart respectively

[2019-03-13 13:53] peterdesmet commented on #15
Not needed: the field `life_stage` is already available in the database.

[2019-03-13 14:03] peterdesmet opened #21 "Include tag in download"
@fwaumans currently the field `tag` is not included in the **animals download**, even though the field is included in the table:

<img width="686" alt="Screenshot 2019-03-13 at 15 01 55" src="https://user-images.githubusercontent.com/600993/54284869-1243df80-45a1-11e9-8d9f-8d04983c535b.png">

Can this be added as the first field? That would make it easier to reference records. Note that some other

[2019-03-13 14:06] peterdesmet opened #22 "Include AGE and AGE_UNIT in table and download"
@fwaumans can you add the fields `AGE` and `AGE_UNIT` in the list of available field to show in the **animals table**:

<img width="229" alt="Screenshot 2019-03-13 at 14 59 06" src="https://user-images.githubusercontent.com/600993/54284994-57681180-45a1-11e9-9c2f-9ae81ec2a035.png">

Can you add them to the data download as well?

[2019-03-13 14:07] peterdesmet commented on #15
But no directly available in the overview table or download. I have created a separate issue for this: #22.

[2019-03-13 14:57] peterdesmet commented on #15
@fwaumans, actions to be taken in database:

1. Filter on `COMMENTS` containing `durif`
2. **Verify `AGE` and `AGE_UNIT` are not yet populated**
3. Use regex to extract durif index value (a double) and place in `AGE`
4. Use regex to remove durif comment from `COMMENTS`
5. Set `AGE_UNIT` to `durif index` for non-empty `AGE`

Or - easier - you can use [durif.txt](https://github.com/inbo/etn-occurren

[2019-03-13 14:58] peterdesmet commented on #15
@PieterjanVerhelst @jreubens fyi, here's how (a sample of) the clean data looks like. Note that `life_stage` was already populated:

comments | comments_clean | age | age_unit | life_stage
--- | --- | --- | --- | ---
; durif_index : 135.69285 |  | 135.69285 | durif index | FV | 1
; durif_index : 84.802235 |  | 84.802235 | durif index | FIV | 1
; durif_index : 92.167155 |  | 92.167155 | durif index

[2019-03-13 15:48] peterdesmet commented on #14
I have added `g` to all Salmo salar, but the values range from `28` to `421.2` grams. Does that seem correct?

![Chart 1](https://user-images.githubusercontent.com/600993/54293198-cba9b180-45af-11e9-9a0c-ebb48b371719.png)

[2019-03-13 15:56] peterdesmet opened #23 "Salmo salar: length without length_unit"
44 Salmo salar have a `length`, but no `length_type` or `length_unit`. This should be corrected.

[2019-03-13 16:54] peterdesmet opened #24 "High max for lengths & weight"
See this [Google spreadsheet](https://docs.google.com/spreadsheets/d/1wupDD9xP1JzV3_GbkdRmRoBfdzM059QmUeQQay3PSxM/edit?usp=sharing) (sheet: "Lengths") and table below: the range (or rather the maximum) for the different types of lengths + weight is sometimes unrealistically high.

@jreubens @PieterjanVerhelst, can you tell me which ones you consider ok?

The rest will have to be corrected in the d

[2019-03-13 17:10] peterdesmet commented on #24
Updated table to also include weight + standard deviation

[2019-03-13 23:16] PieterjanVerhelst commented on #14
I'll have a check and keep you informed

[2019-03-14 08:25] PieterjanVerhelst commented on #11
I added some missing coordinates. The only ones that are still missing are:
- `Spijkerplaat` and `SS Auretta` (Jan Reubens will look for these coordinates)
- `C05 Belwind` for the project `Flatfish`, as I do not have writing access to this project. @jreubens, can you complete these three empty records?

[2019-03-14 09:25] peterdesmet commented on #10
Updated. @fwaumans please populate `COMMON_NAME` as follows:

scientific name | common name
--- | ---
Alosa fallax |  twaite shad
Anguilla anguilla |  European eel
Cyprinus carpio |  common carp
Gadus morhua |  Atlantic cod
Homarus gammarus |  European lobster
Lampetra fluviatilis |  river lamprey
Petromyzon marinus |  sea lamprey
Platichthys flesus |  European flounder
Rutilus rutilus |  roach
Sa

[2019-03-14 09:59] peterdesmet commented on #12
@PieterjanVerhelst great. What about Alosa fallax: are those wild or hatchery?

[2019-03-14 10:03] PieterjanVerhelst commented on #12
These are all wild.

[2019-03-14 10:07] peterdesmet commented on #12
Thanks, all have been corrected.

[2019-03-14 10:07] #12 closed

[2019-03-14 10:07] PieterjanVerhelst commented on #23
The ones that are not filled in, are `fork length` in `mm`.

[2019-03-14 10:25] peterdesmet opened #25 "Update length type suggestions"
In light of #13, please update the `as in` examples in the application to their lowercase variants:

## length_type

![Screenshot 2019-03-14 at 11 20 55](https://user-images.githubusercontent.com/600993/54349472-9c488280-464b-11e9-9640-64d3e5ca6494.png)

Change to `as in: total length`

## lenght2_type

![Screenshot 2019-03-14 at 11 21 12](https://user-images.githubusercontent.com/600993/54349447-

[2019-03-14 10:29] PieterjanVerhelst commented on #24
@peterdesmet, would it be possible to convert the above table in a checkbox? I may not be able to solve all issues at once and a checkbox would help me to keep an overview of what I did and did not tackle.

[2019-03-14 10:38] peterdesmet commented on #13
Thanks! @fwaumans can you update `LENGTH2_TYPE` (153) and `LENGTH4_TYPE` (239) to `pectoral fin length` where it is currently `pectoral fin`?

[2019-03-14 10:48] peterdesmet commented on #24
Not really possible to convert table without losing information, but I added a checkbox list at the top.

[2019-03-14 10:58] peterdesmet commented on #23
Corrected in DB.

[2019-03-14 10:58] #23 closed

[2019-03-14 11:03] peterdesmet commented on #24
With the correction of #23 I had to update the table and didn't want to do this in two places: opted for Google spreadsheet and removed it from the issue.

[2019-03-14 11:07] PieterjanVerhelst commented on #24
:+1:

[2019-03-14 11:21] peterdesmet opened #26 "Eels with incomplete measurements"
@pieterjanverhelst Of the 402 eels there are 11 that do not have all 4 measurements. Can this information be completed (especially for the first 2-3 that have the other measurements)?

tag | project | length_type | length2_type | length3_type | length4_type
--- | ---| ---| ---| ---| ---
A69-1601-31899 | 2012 Leopoldkanaal | total length | horizontal eye diameter | | |
A69-1601-47322 | 2013 Albertk

[2019-03-14 14:57] PieterjanVerhelst commented on #24
@peterdesmet, I cannot find the eels with the wronlgy max `horizontal eye diameter`, `vertical eye diameter` and `pectoral fin`. Could you just give me the transmitter ID and project name of the eels with such a max? Than I will be able to check if some other eels have a wrong max as well.
Note that the column `Length2_type` is either `horizontal eye diameter` or `pectoral fin length`, depending o

[2019-03-14 15:13] peterdesmet commented on #24
I don't have the transmitter ID, because that is not yet exported (see #21), but I do have the ID. Example: `2299` which has `horizontal eye diameter` = `12,95`.

I see now that it's the comma as decimal separator that is causing the issue (interpreted as 1295). A period should be used instead: `12.95`. A quick check indicates that a `,` is used:

column | animals | remarks
--- | --- | ---
length

[2019-03-14 15:20] peterdesmet opened #27 "Make length + weight doubles"
The fields:

- `LENGTH`
- `LENGTH2`
- `LENGTH3`
- `LENGTH4`
- `WEIGHT`

Are indicated as being `format: double`:

![Screenshot 2019-03-14 at 16 16 21](https://user-images.githubusercontent.com/600993/54368539-a5017e80-4674-11e9-9cff-45cba72bc92b.png)

One can enter text strings in those fields though. These leads to errors, e.g. `,` and `.` being used as decimal separators (caused #24).

@fwaumans

[2019-03-14 15:42] peterdesmet commented on #24
@PieterjanVerhelst values corrected and spreadsheet updated.

[2019-03-14 16:51] PieterjanVerhelst commented on #24
@peterdesmet. Could you check if the total lengths of `Anguilla anguilla` are now within realistic ranges?
The only two lines I am still trying to find out, are length and weight of `Salmo salar`.

[2019-03-14 20:08] peterdesmet commented on #24
There is still one massive shrieking eel of 5m `A69-1601-58620` and one (probably ok) of `102cm`: `A69-1601-26465`

In addition to the two lines for Salmo salar: is the weight range for Anguilla anguilla ok?

[2019-03-14 20:12] peterdesmet commented on #22
One part is solved already: both fields are now included in the download. Maybe they were ignored because they didn't have any values before, while they now do for some records.

[2019-03-14 20:17] PieterjanVerhelst commented on #24
Shrieking eel `A69-1601-5820` is adjusted ant the others are correct :-). We caught some massive eels in the Albert Canal, with that one of `102 cm` and `2241 g` one of the biggest I've ever seen!
As such, the weight range for `Anguilla anguilla` is ok.

[2019-03-15 10:34] karenrobberechts commented on #16
Ik heb even rond gehoord bij mijn collega's en ben tot de volgende conclusie gekomen:
De zalmen zijn allemaal op dezelfde dag gezenderd maar op verschillende dagen uitgezet maar ze weten zelf niet welk gezenderd dier uitgezet is op welke dag.

Omdat Jenna ze gespreid wilde uitzetten, zijn er 10 uitgezet op 30/3/17, 10/4 nog eens een deel en de laatste op 18/4. Omdat ze allemaal al gezenderd waren

[2019-03-15 12:22] peterdesmet commented on #16
Merci voor de info, ik zal es kijken voor de detecties.

[2019-03-18 13:07] peterdesmet commented on #16
@karenrobberechts al die transmitters hebben detecties vanaf 30 maart. Sommige stoppen rond 6 april. Hoe kan ik best controleren welke wanneer/waar zijn uitgezet?

[2019-03-20 08:52] peterdesmet commented on #16
Discussed with Jenna and resolved in DB.

[2019-03-20 08:52] #16 closed

[2019-03-25 10:46] jreubens commented on #18
I agree with male, female and unknown.
Some updates in the DB are thus needed

[2019-03-26 08:35] peterdesmet opened #28 "Update example for field sex"
<img width="482" src="https://user-images.githubusercontent.com/600993/54982130-4f996b80-4faa-11e9-9cdd-9b706cf5f917.png">

See #18: the recommended values are now:

[code]

Can the example in the help text be updated?

[2019-03-26 08:38] peterdesmet commented on #18
@fwaumans can you update the values in the database as such:

current value | new value
--- | ---
f | female
F | female
Female | female
M | male
(empty) | unknown

@jreubens @PieterjanVerhelst for the 333 empty values in the DB: is the sex for those missing (should be completed) or unknown?

[2019-03-26 09:02] PieterjanVerhelst commented on #18
Only for eels it can be known, for the others it is unknown.
Could you check if there are any empty sex records for eels? Than I'll complete them.

[2019-03-28 08:14] peterdesmet commented on #18
9 eels (Albertkanaal) have empty sex. I only know their id_pk:

363
364
704
705
706
707
708
709
2154

[2019-03-28 08:44] PieterjanVerhelst commented on #18
@peterdesmet, all are female. I added 'female' to the respective eels in the ETN database.

[2019-03-28 13:41] LienReyserhove opened #29 "Add id_pk information to field summary"
In a search for a unique identifier for each animal, I encountered the field `id_pk`.
There's no definition available for this field, so please update this in the appropriate csv file.

[2019-03-28 13:49] LienReyserhove opened #30 "Unique identifiers for animals"
The field `animal_id` appears to be to best field for unique identifiers:

However, this field is often empty, which makes it useless as a unique identifier.
Decided to take `id_pk` instead, but see #29

[2019-03-28 14:19] peterdesmet commented on #29
@fwaumans is this the internal id for the animal?

[2019-03-28 14:21] peterdesmet commented on #30
@PieterjanVerhelst @jreubens I think we have discussed unique identifiers for animals before, but since none were given I seem to remember that using the internal `id_pk` (guaranteed unique, because set by database) is sufficient?

[2019-03-28 14:39] fwaumans commented on #29
id_pk is the primary key in the animal table

[2019-03-28 16:03] PieterjanVerhelst commented on #30
If `id_pk` is indeed a unique number automatically attributed by the database, I would say yes, we can use that ID. But @jreubens can give more information about this database step.

[2019-03-29 06:54] jreubens commented on #30
animal_id is no unique identifier, this is filled in when you for example have an external tag with a specific number. id_pk is the unique one...

[2019-03-29 12:38] LienReyserhove commented on #30
OK, thx!

[2019-03-29 12:38] #30 closed

[2019-03-29 15:05] LienReyserhove opened #31 "dwc_animals.Rmd: structure and term overview"
The focus of  `dwc_animals.Rmd` is to map the animal metadata, i.e. data related to capture, release and surgery of the fish. The _structure_ of the mapping is rather complex and involves mapping to the [Event Core](https://tools.gbif.org/dwca-validator/extension.do?id=dwc:Event), [Occurrence Extension](https://tools.gbif.org/dwca-validator/extension.do?id=dwc:Occurrence) and [extended Measurement

[2019-04-02 10:16] peterdesmet opened #32 "JS error in ETN app"
There is an error loading the Javascript libraries (and some of the css?) in the ETN app:

[code]

The page currently looks like this for me:

<img width="833" alt="Screenshot 2019-04-02 at 12 16 05" src="https://user-images.githubusercontent.com/600993/55395067-2300c900-5541-11e9-8898-e2139eb602ed.png">

[2019-04-02 10:31] peterdesmet commented on #31
Nice schema! Some feedback:

- [x] Relate the tag properties to the surgery event, not capture
- [x] Remove `eventTime`: time information is to be included in `eventDate`
- [x] Point arrows in other direction: relation is from extension to core
- [x] Remove `individualCount`
- [x] Switch `type` and `value` for length, e.g. `mType` = `length2_type`
- [x] Don't use underscores in `mType` names, e.g.

[2019-04-02 10:42] peterdesmet commented on #32
Solved.

[2019-04-02 10:42] #32 closed

[2019-04-02 10:46] PieterjanVerhelst commented on #31
Date differences between capture and surgery event can occur, especially since it is sometimes required to move a fish to a facility and keep in quarantine. Although we (inbo, vliz and ugent) do not apply such measures, (1) I think keeping track of both capture and surgery event explicitly clarifies this and (2) in some occasions fish (I think eels from the Albertkanaal) were not tagged immediatel

[2019-04-02 11:09] peterdesmet opened #33 "Why is there surgery location/lat/long if there is no surgery date?"
@PieterjanVerhelst @jreubens

I noticed that it is possible to define a `surgery location` (+ latitude and longitude), but not a `surgery date`. That means you cannot define a separate surgery event.

If the `surgery date` is assumed to be the `capture date`, can't we assume the same for `surgery location` then? **That would reduce the amount of metadata that needs to be managed.** It looks like i

[2019-04-02 11:10] peterdesmet commented on #31
@PieterjanVerhelst I updated my comment regarding surgery, but see especially https://github.com/inbo/etn-occurrences/issues/33

Regarding `samplingProtocol` (yes, those values) and `verbatimDepth`: these were more technical reminders for myself. 😄

[2019-04-02 11:50] fwaumans commented on #28
@jreubens  will change this in the webapplicaton.

[2019-04-02 11:53] fwaumans commented on #27
The fields LENGTH, LENGTH2, LENGTH3, LENGTH4, WEIGHT are converted to double

[2019-04-02 11:54] fwaumans commented on #25
@jreubens will change these descriptions.

[2019-04-02 11:55] fwaumans commented on #18
The field sex is updated with the proposed values

[2019-04-02 11:56] fwaumans commented on #17
The field captureMethod is updated with the proposed values.

[2019-04-02 11:58] fwaumans commented on #15
The durif index is completed in the age and age_unit field.
The comment field is cleaned

[2019-04-02 11:58] LienReyserhove commented on #31
Thanks for the feedback, I already made some adjustments in the schema and will integrate the suggestions in the mapping accordingly.
I get the point with respect to the capture and surgery event, it doesn't make any sense if no date is provided for surgery (didn't check, sorry) and if surgery location is often identical to capture location. I'm awaiting the response in #33 to integrate these sugg

[2019-04-02 11:59] fwaumans commented on #13
The value 'pectoral fin' is replaced by  'pectoral fin length'.

[2019-04-02 11:59] fwaumans commented on #10
The common names are updated by the proposed values.

[2019-04-02 12:04] peterdesmet commented on #27
Great!

[2019-04-02 12:04] #27 closed

[2019-04-02 12:29] peterdesmet commented on #17
Thanks! 31 records (beyond the scope of what is planned to be published) have values that could be updated too:

current value | new value | records
--- | --- | ---
`Divers, by hand` in Flatfish  | `capture by hand while diving` | 4
`Hook and line` in PhD van der Knaap | `line fishing` | 27

[2019-04-02 12:29] peterdesmet commented on #18
Thanks! 268 records (beyond the scope of what is planned to be published) still have `U`. Might be good to update those as well.

[2019-04-02 12:32] peterdesmet commented on #15
Nice!

[2019-04-02 12:39] peterdesmet commented on #10
:+1:

[2019-04-02 12:39] #10 closed

[2019-04-02 12:39] peterdesmet commented on #13
Great! Beyond the scope of what is planned to be published, the following values could be updated in `lengthType` as well:

current value | new value | animals
--- | --- | ---
`Total length` | `total length` | 430
`Total Length` | `total length` | 1
`total_length` | `total length` | 5

[2019-04-02 12:55] LienReyserhove opened #34 "Cleanded content for capture locations"
The current values in `capture_location` should be cleaned somewhat before mapping to the DwC term `locality`. I suggest the following actions (see also #41 for cleaning of release_location and #42  for cleaning of surgery_location)

1. Restrict the use of capital letters (only when required)

|capture_location                        | records|capture_location_clean | OK
|:------------------------

[2019-04-02 13:05] LienReyserhove commented on #31
and with respect to `verbatimDepth`: this field appears to be empty so not relevant for this publication

[2019-04-02 13:09] PieterjanVerhelst commented on #31
Capture and surgery location often differ from each other, so should be kept separate.

Regarding `samplingProtocol`, what do you mean with 'occurrence'? This is a detection? If so, it is only relevant for the capture event.

[2019-04-02 13:17] PieterjanVerhelst commented on #33
@peterdesmet, there is a field in the ETN database with the surgery date: `date of surgery`.
The most important part for interested users of the data to my opinion, is that they know where the fish were caught and released. The surgery information is maybe to exhaustive to include in the data-publication and when wanted, could be obtained by contacting the appropriate researcher?
@jreubens, what d

[2019-04-02 13:27] LienReyserhove commented on #33
I'm not fond of leaving out the surgery data out of the published dataset.
In my opinion, the published dataset should contain as much relevant information as possible, which includes the surgery data.

[2019-04-02 13:33] PieterjanVerhelst commented on #33
Agree, than we include them :-)

[2019-04-02 13:34] jreubens commented on #34
D3 and D5 can be replaced by 'D3 C-Power' and 'D5 C-Power'

[2019-04-02 13:36] jreubens commented on #33
agree to have it included

[2019-04-02 13:39] PieterjanVerhelst commented on #34
`D3` and `D5` are wind turbines, so I suggest to name them `wind turbine D3` and `wind turbine D5`
`VLVS - Zone 2.2` is an eel caught at the Drowned Land of Saefthinge at the IJskelder ditch. I suggest to call it `ijskelder Saeftinghe`
`stroomaf 2 bruggen meest SA bocht` is from a project @IPauwels was working on, so I let her decide for this one.

[2019-04-02 13:39] jreubens commented on #25
Done!

[2019-04-02 13:40] peterdesmet commented on #33
My bad, I overlooked the field. 😬It is not included in the export. Will report this separately.

[2019-04-02 13:40] jreubens commented on #28
Done

[2019-04-02 13:42] peterdesmet opened #35 "Include DATE_OF_SURGERY in table and download"
Cf. #22. @fwaumans can you add the field `DATE_OF_SURGERY` in the list of available fields to show in the **animals table**:

<img width="229" alt="Screenshot 2019-03-13 at 14 59 06" src="https://user-images.githubusercontent.com/600993/54284994-57681180-45a1-11e9-9c2f-9ae81ec2a035.png">

Can you add it to the data download as well?

[2019-04-02 13:45] #28 closed

[2019-04-02 13:46] #25 closed

[2019-04-02 13:50] peterdesmet commented on #31
`samplingProtocol` can be kept where it is: as a property about the capture event (and thus occurrence).

[2019-04-03 08:22] fwaumans commented on #35
DATE_OF_SURGERY added in available field and data download.

[2019-04-03 08:45] peterdesmet commented on #35
Thanks.

[2019-04-03 08:45] #35 closed

[2019-04-03 09:17] fwaumans commented on #17
@jreubens : we have to discuss if we can change data from dataproviders beyond the scope of lifewatch

[2019-04-03 09:17] fwaumans commented on #13
@jreubens : we have to discuss if we can change data from dataproviders beyond the scope of lifewatch

[2019-04-03 09:21] fwaumans commented on #21
Seems to be a bug. I have to dive in the code.

[2019-04-05 09:14] fwaumans commented on #21
Was not a bug. Animal - tag relation is a one to many relationship and is not added automatically. In the rare cases more than one tag is related to an animal a semicolon separated list is given in the tag column , otherwise one tag.

[2019-04-05 10:20] #21 closed

[2019-04-05 10:22] peterdesmet opened #36 "Multiple tags for single animal"
Some animals have multiple tags, e.g.:

[code]

We will have to figure out if those tags are added in sequence or at the same time and how the surgery date relates to these (first/latest).

@PieterjanVerhelst any insights on multiple tags for single animals?

[2019-04-09 07:57] LienReyserhove commented on #11
This is an updated overview of the projects with lacking coordinates.
For 2013 Albertkanaal, the number of lacking coordinates have increased. For 2015 PhD Verhelst, the numbers have decreased. I suppose most of the lacking coordinates are to be completed by @IPauwels.

projectName | capture_coordinates | release_coordinates | number of animals | OK
--- | --- | --- | --- |---
2011 Rivierprik| FALS

[2019-04-09 09:01] LienReyserhove opened #37 "geodeticDatum and coordinate uncertainty"
I assume that the `geodeticDatum` upon which the coordinate system is based is `WGS84`?

With respect to the coordinate uncertainty:

Best practise is to populate this field. For Darwin Core, 30 is the suggested number:

Is this reasonable?

[2019-04-09 09:17] LienReyserhove opened #38 "Lacking values for person_id"
Some of the records in the dataset have no person_id assigned to the capture/release/surgery event.
In the subset prepared for publication, this concerns 86 animals, all belonging to the animal project `2013 Albertkanaal`. Can this information be supplied?

We will map `person_id` to the Darwin Core term `recordedBy`. The specification for this field is:

Ideally, we want the full name of the pers

[2019-04-09 09:23] LienReyserhove commented on #38
Fyi, for the whole dataset (animals), about 50% of the values for `person_id` is empty

[2019-04-09 09:32] LienReyserhove commented on #18
In additon to this, 70 records still have `NA` (beyond scope of the published data)

[2019-04-09 10:28] peterdesmet commented on #37
It is reasonable if a GPS is used to find the location. I don't know if that is what was done in the field. @PieterjanVerhelst ?

[2019-04-09 12:59] LienReyserhove opened #39 "Tag information in surgery event"
As described in the mapping scheme in #31, tag information will be related to the capture event.
While deciding which tag properties to include, I encountered several problems/issues:

### Which tag information is required?

Tag information can be found in two different metadata overviews generated by the etn-package:
- Animal overview
- Transmitter overview

Below I made an attempt to extract fie

[2019-04-09 13:34] LienReyserhove commented on #33
There's still the problem that `date_of_surgery` is empty for about 57% of the events and `surgery_latitude` and `surgery_longitude` are always empty (for the data within the publication scope). Especially in case of date information this is problematic as this information is obligatory. I assume this is because most individuals didn't have any surgery?
We could limit the surgery event to records

[2019-04-09 14:25] LienReyserhove opened #40 "Release date before capture date"
For some animals, the date of release is before the date of capture.
For the following cases, no time has been provided (didn't check them all):

|projectname        | id_pk|utc_release_date_time |catched_date_time   |**utc_release_date_time_new** |
|:------------------|-----:|:---------------------|:-------------------|:---------------------------|
|2012 Leopoldkanaal |   438|2012-07-20 00:00:00

[2019-04-09 14:33] peterdesmet commented on #33
I assume it is because for most animals the surgery took place at the same loc/time as the capture and/or release. Still: best if that info is completed in ETN DB.

[2019-04-09 14:45] PieterjanVerhelst commented on #36
@peterdesmet @LienReyershove, some tags have sensors and each sensor comes with a seperate tag-ID. In the case you mention, both IDs (`A69-9006-905` and `A69-9006-906`) belong to the same tag and therefore fish.
However, it can occur that a tag is being retrieved and used in another fish. For instance tag ID ` A69-1601-29920`, which involves an eel being tagged in `2012 Leopoldkanaal`, than caught

[2019-04-09 14:49] PieterjanVerhelst commented on #37
Coordinates are indeed in `WGS84`. These are determined in two ways:
- hand GPS (garmin)
- through google maps

Is '30' still feasable?

[2019-04-10 08:03] LienReyserhove commented on #34
And of course for `release_location`:
- Only use capital letters when absolutely necessary
- What does HH5 and M-4-1 stand for?
- Provide full names for LO, RO, SO and SA

Some examples:

|release_location                                                                      | records|
|:-------------------------------------------------------------------------------------|-------:|
|NA

[2019-04-10 09:39] LienReyserhove commented on #34
Thank you for the input. I adjusted the table above with all locality information that needs cleaning.
@jreubens , @PieterjanVerhelst  and @IPauwels  could you please verify these suggestions?
When approved, I will inform Filip to do the transformation.

[2019-04-10 10:52] LienReyserhove opened #41 "Cleanded content for release locations"
**NOTE: This table is updated with the changes discussed further in this issue**

The current values in `release_location` should be cleaned somewhat before mapping to the DwC term `locality`. I suggest the following actions (see also #34 for cleaning of `capture_location` and #42 for cleaning of `surgery_location`)

1. Complete missing values for `release_location`, `release_latitude` and `releas

[2019-04-10 10:57] LienReyserhove opened #42 "Cleanded content for surgery locations"
The current values in `surgery_location` should be cleaned somewhat before mapping to the DwC term `locality`. I suggest the following actions (see also #34 for cleaning of `capture_location and #41 for cleaning of `release_location)

1. Give more information for some of the locations

|surgery_location                     |surgery_location_clean
|:----------------------------------------|--------

[2019-04-10 12:33] LienReyserhove commented on #33
Indeed, in all cases, `surgery_location` is equal to `capture_location` or to `release_location`.
Thus, for almost all surgery cases, we can adopt location and coordinates from the release event. For the two specific cases below, we have to adopt location and coordinates from the capture event.
I will make a separate issue for this and assign it to @fwaumans

1. Surgery location is not capture loc

[2019-04-11 06:29] jreubens commented on #40
for the animals of Phd Reubens tag and release data should be the same.
The correct value is 2010-10-01 and this has been adapted in the DB.

Other animals are all related to INBO projects

[2019-04-11 06:30] jreubens commented on #40
can you assign @PieterjanVerhelst  for this issue

[2019-04-11 06:34] jreubens commented on #34
I agree with the wind turbine suggestions. All the others are INBO related, I leave that up to INBO people

[2019-04-11 07:11] LienReyserhove opened #43 "Complete surgery latitude/longitude"
In line with the discussion in #33, please complete the missing values for `surgery_latitude` and `surgery_longitude` using the following criteria:

1. Only complete `surgery_latitude` and `surgery_longitude` for records with a value for `date_of_surgery`. When no `date_of_surgery` is provided, leave these fields empty.

2. In most of these cases: `surgery_latitude` = `release_latitude` and `surge

[2019-04-11 07:32] LienReyserhove commented on #37
I had a quick google search on the coordinate precision of google maps, and from what I can find, the coordinate uncertainty is less then 30 meters. Some mention around 30 feet (which is about 10 meters). So two options:

1. We can keep the 30m imprecision, which is probably ok and might even be too large
2. We do not integrate `coordinateUncertaintyInMeters` in the DwC mapping.

I think option tw

[2019-04-11 08:34] peterdesmet commented on #37
It's always better to provide a (too big) `coordinateUncertaintyInMeters` than none at all. We know it's between 10 and 30 meters, but a user of the data doesn't. Maybe it's 1000m?

So, I would keep `30m`: it is recognized in the community as a safe value for GPS.

[2019-04-11 08:57] #37 closed

[2019-04-11 12:46] LienReyserhove opened #44 "Fish without length information"
The following individuals have no length information but do have length_type provided. Can these values be supplied?

For VLIZ:
@jreubens

|projectname     | id_pk| length|length_type  |
|:---------------|-----:|------:|:------------|
|Homarus         |   251|     NA|total length |
|Homarus         |   252|     NA|total length |
|PhD Jan Reubens |   674|     NA|total length |

For INBO:
@Pieterjan

[2019-04-11 13:13] peterdesmet commented on #24
@PieterjanVerhelst any feedback on the weights/lengths of Salmo salar? If approved than we can close this issue.

[2019-04-11 14:20] LienReyserhove commented on #15
Just to check, but based on this discussion and the data I assume that `life_stage` and `age_units` are linked as they are refering to the durif index. Based on that I would assume that each life stage has a value for `age_units`, which is `durif index`. However, 159 records have a life stage but no value for `age_units`. Is this an error or am I missing something?

[2019-04-11 14:22] peterdesmet commented on #15
What are those values without age_unit?

[2019-04-11 14:27] LienReyserhove commented on #15
life stages FIII, FIV and FV

[2019-04-11 14:27] peterdesmet commented on #15
That is ok, these do not have an age unit.

[2019-04-11 14:31] peterdesmet commented on #15
My mistake: `lifeStage` does not have a unit. Sometimes an `age` is identified. These should always have an `age_unit`.

[2019-04-11 14:32] LienReyserhove commented on #15
yes, ok, `age` always has an `age_unit`

[2019-04-11 14:32] #15 closed

[2019-04-11 19:32] PieterjanVerhelst commented on #34
Further suggestions (just conform using English nomenclature instead of dutch) (must admit that many are not very meaningful for people not involved in the project, though):

sluis Genk = shipping lock Genk
kwekerij Erezée = hatchery Erezée
Piège de dévalaison sur l'Ourthe situé sur le barrage de Méry en amont de la confluence avec la Meuse = upstream the Méry dam in the River Ourthe
fuik brug Dem

[2019-04-11 19:41] PieterjanVerhelst commented on #41
The eel from my PhD (id_pk = 2160) was released in the Drowned Land of Saeftinghe. I added `VLVS` to the database (Verdronken Land van Saeftinghe).
The other issues are related to the projects Albertkanaal and Dijle, for which @IPauwels can provide the information.

[2019-04-11 19:45] PieterjanVerhelst commented on #42
I agree. The only thing that should be changed, is naming 'stuw' and 'veerboot' in English:
`Dijle (weir Mechelen Nekkerspoel)`
`Zeeschelde (ferry, Kastel)`

[2019-04-11 19:57] PieterjanVerhelst commented on #40
For the fish of `2012 Leopoldkanaal` and `2015 PhD Verhelst` we did not log the release time. I see 2 solutions:
1) we determine the release date & time as the last catch date & time + 30 min (per day off course). This will not deviate substantially from the exact release time. Specifically, all fish are released when the last fish is recovered from the anaesthetic, which takes ca. 30 min.
2) anot

[2019-04-11 20:05] PieterjanVerhelst commented on #44
For the eel from `2012 Leopoldkanaal`, I removed `length2_type` and `length2_unit` as this was not measured for this particular fish.

[2019-04-11 20:06] PieterjanVerhelst commented on #24
@peterdesmet, no info obtained. I will send a reminder to the involved researchers.

[2019-04-11 20:34] PieterjanVerhelst commented on #39
@jreubens, is it necessary to include `thelma_converted_code`? What does this say (no experience with Thelma tags...)?
I would also include information about the different steps, energy output and sensors.

[2019-04-11 20:41] PieterjanVerhelst commented on #26
For `A69-1601-31899` there is no data for all 4 length types (only total length). Eel `A69-1601-47322` I added the missing info of the 4 length types.
For the others, I do not have the data but will try to find out and complete the list.

[2019-04-11 20:47] PieterjanVerhelst commented on #26
Information for `A69-1601-34461` was added as well.
BTW, the buttons on my github do not work anymore (cannot edit previous posts, nor assign people, use quick-buttons in message boxes...). Did try another web browser, but problem persists.

[2019-04-12 06:45] jreubens commented on #41
for D5, D6, I agree to have the same naming as for capture_location

[2019-04-12 07:06] jreubens commented on #44
For the Homarus there is no length info available. The animals were tagged while diving. I removed the 'length_type' and 'length_unit' for these animals.
id_pk 674 has been updated

[2019-04-12 07:21] peterdesmet commented on #26
@PieterjanVerhelst regarding GitHub and you were able to do this before **in this repository**? Anyway, I have given you @jreubens @IPauwels write access to this repo, which will probably allow you to at least assign people and label issues.

[2019-04-12 07:24] PieterjanVerhelst commented on #26
@peterdesmet, no I was never able to do this in this repo, and it is a few months now I can't in my own repos as well. Probably has something to do with my browser settings?

[2019-04-12 07:26] peterdesmet commented on #26
Difficult to assess without seeing what the problem is, but sounds weird.

[2019-04-12 07:29] PieterjanVerhelst commented on #26
When I am at inbo, I'll drop by for a quick look ;-).

[2019-04-12 08:20] peterdesmet commented on #39
@LienReyserhove it will be related to the surgery event, not capture.

Here's an overview of all tag related fields in both tables:

tags | animals | example | remarks
--- | --- | --- | ---
serial_number | - | 1249187 |
type | - | Acoustic |
model | - | V13-1x |
id_code | - | 52656 |
tag_code_space | tag_code_space | A69-1601 |
owner_pi | - | PIETERJAN VERHELST | 
id_pk | - | 1370 |
\- | animal_ta

[2019-04-12 08:23] peterdesmet commented on #40
@PieterjanVerhelst sounds good to me.

[2019-04-12 12:11] LienReyserhove commented on #36
I don't think this is a problem as the ID of the tag should not be unique, the ID of the individual on the other hand should be unique.

[2019-04-12 12:13] LienReyserhove commented on #40
Fine, I will integrate this accordingly

[2019-04-12 12:20] LienReyserhove commented on #44
Thank you for the adaptations!

[2019-04-12 12:20] #44 closed

[2019-04-12 12:41] LienReyserhove commented on #34
Thanks for the suggestions.
I suppose that most of the data is now ok. Just `abandonned fykes (?)`, which will have to be checked by @IPauwels .
As this only concerns 5 records, I suggest these adaptations can be made in the db.
@fwaumans could you integrate the abovementioned adaptations please?

[2019-04-12 12:48] LienReyserhove commented on #41
@PieterjanVerhelst could you please change `VLVS` to `drowned land of Saeftinghe`?

[2019-04-12 12:54] PieterjanVerhelst commented on #41
Offcourse :-). I changed the capture location to `Drowned Land of Saeftinghe - Zone 2.2` and the release location to `Drowned Land of Saeftinghe`

[2019-04-12 13:11] LienReyserhove commented on #41
Thanks!
I updated the table.
@fwaumans could you please integrate the suggested changes (just the ones with `OK` next to them`)

[2019-04-12 13:32] LienReyserhove commented on #42
@fwaumans could you integrate these changes please?

[2019-04-12 13:57] jdpye commented on #39
Our original method of just reporting occurrences at release locations is being remade to include all the other things we find important about the tag.

Good to include the full tag ID, its serial, its vendor (as Thelma/Vemco tags can be detected on Vemco equipment) the frequency of transmission (69k, 180k, etc), and the estimated tag life (mainly a function of the battery size and the tag program

[2019-04-12 14:11] LienReyserhove commented on #40
I updated the overview.
@jreubens I overlooked a few of these release dates, could you also update them please?

@fwaumans could you please update the data from the second table in the database? Values for `utc_release_date_time` for these specific `id_pk` should be replaced by `catched_date_time + 30 minutes` (see table)

[2019-04-16 08:51] LienReyserhove commented on #39
@jdpye I tried to distill the following information related to **tag properties** (i.e. technical aspects):

tags | animals | example |
--- | --- | ---
tag_full_id | tag_full_id | A69-1601-52656 |
serial_number | - | 1249187 |
manufacturer_fk | - | 1 |
frequency | - | 069k |
estimated_lifetime | - | 1021 |
sensor_type | - | P |

Note:
- Thelma converted code only includes `NA`, not integrated in E

[2019-04-16 09:50] LienReyserhove opened #45 "Anaesthetic concentration"
The content of the field `anaesthetic_concentration` looks like this:

|anaesthetic_concentration | records|
|:-------------------------|-------:|
|NA                        |     379|
|0.02 ml/L                 |      80|
|0.2 ml/L                  |      11|
|0.2ml/L                   |       1|
|0.3ml/L                   |     189|

Two options here:
1. Clean up the content by adding space betw

[2019-04-16 11:42] LienReyserhove opened #46 "Post operation holding period"
In line with #45

`post_op_holding_period` is provided for (only one!) value in the dataset (within the scope of publication) : `1 hour`.

Three options here:

1. Separate `post_op_holding_period` into is value and unit in the mapping script.
2. Create two new fields `post_op_holding_period_value` and `post_op_holding_period_unit` in the database
3. Use ISO 8601 format for durations: `T[n]H[n]M[n]

[2019-04-16 12:40] jdpye commented on #39
Hi Lien, happy to help if I can, though it seems to me you've got things well in hand? For the purposes of figuring out how to map tags to detection data, your first table is definitely sufficient.

I did indeed mean we should capture tag programming properties as EMoF, and agree that the tag programming should be a property of the tag, not a detection property. The information you're capturing th

[2019-04-16 14:50] LienReyserhove opened #47 "Missing surgery date and locations"
I'm repeating the comment from a previous issue here (https://github.com/inbo/etn-occurrences/issues/33#issuecomment-481253907) as it is quite important for the mapping process:

I found out that `surgery_latitude` and `surgery_longitude` can be derived by comparing `surgery_location` with `capture_location` or `release_location`, but there's still no way to figure out whether surgery even occured

[2019-04-17 07:11] PieterjanVerhelst commented on #26
For the 8 eels of `Albertkanaal 2013` there is no data on the different length measures as well.
So in conclusion:
For 2 eels (`A69-1601-34461` and  `A69-1601-47322`) I added the information.
For the 1 eel `A69-1601-31899` from `2012 Leopoldkanaal` and the 8 eels from `Albertkanaal 2013` there is no additional measurement data.

[2019-04-17 20:23] PieterjanVerhelst commented on #45
Indeed, I agree to apply '2.' as it is in line with the other measurements.

[2019-04-17 20:33] PieterjanVerhelst commented on #47
All fish had a surgery to be given a tag. The surgery locations is not always exact the catching location. For instance, eels are caught near the shipping lock complex in Merelbeke, but we need to boat to a slibway near the fire department of Merelbeke 3.5 kilometer downstream, to get everything on land and perform the surgery. At sea with anglers, it was sometimes even more complex: a cod was cau

[2019-04-19 07:40] LienReyserhove commented on #47
OK for the locations, but we would really need information about the surgery **dates**. How can we retrieve this information, can it be derived from e.g the release date?

[2019-04-19 13:50] PieterjanVerhelst commented on #47
The surgery date is the same as the catch date :-).

[2019-04-25 13:05] jreubens commented on #39
@LienReyserhove thelma-converted-code indeed only has NAs for this dataset, as we don't have thelma tags (so far). Thus currently no need to include. But this might change in future datasets..

[2019-04-25 13:49] jreubens commented on #11
missing coordinated for 'spijkerplaat', 'ss Auretta' and 'C05' have been added.

[2019-04-25 13:56] jreubens commented on #33
Surgery locations for 'PhD Jan Reubens' have been updated

[2019-04-25 13:59] jreubens commented on #40
done!

[2019-04-26 13:15] PieterjanVerhelst commented on #14
The lengths and weights are correct: There is indeed a large size-range on the tagged smolts.

[2019-04-27 13:30] #14 closed

[2019-04-29 08:13] LienReyserhove commented on #47
Is this really always the case? As the surgery locations are not always exact the catching locations (and in some cases the surgery location is equal to the release location, see #33), I can assume that the surgery date is not always equal to the catch date, especially as the date information is supplemented with the time of day.

[2019-04-29 14:05] jreubens commented on #47
For all fish we tagged the date is the same! I suppose this is also the case for INBO...

[2019-04-29 15:57] PieterjanVerhelst commented on #47
@LienReyershove, surgery date is not always the same as catch date, I was wrong! Salmon smolts for instance were tagged at a hatchery and I think they were kept under observation after tagging to be released some days later. I will check this.

[2019-04-30 07:51] LienReyserhove opened #48 "Why are catches of the same animal 2 records in the animal table/view?"
In the animal table, it appears that six individuals (indicated in `individual` here) have two records instead of one. Five of these individuals (10 records, first table) differ mainly in their dates of capture, surgery and release and also differ in their length. For each of these individuals, one record has a date of recapture provided, which suggests that these double records are a consequence

[2019-04-30 08:16] LienReyserhove commented on #39
Ok, this is a summary of the terms to integrate based on the previous discussion:

term | example
--- | ---
tag_full_id | A69-1105-100
serial_number | 1249187
type | Acoustic
model | V13P-1x
sensor_type | P
acoustic_tag_type | animal
manufacturer_fk | 1
status | active
estimated_lifetime | 301
frequency | 069k
min_delay | 17
max_delay | 33
power | L
duration_step1 | 69
min_delay_step2 | 40
max_del

[2019-04-30 08:43] peterdesmet commented on #48
@jreubens @PieterjanVerhelst @fwaumans can you confirm these are:

1. Six animals that were tagged, released, recaptured (row 1) and released again with the same tag (row 2).
2. And not: six animals that were tagged, released, recaptured, tag removed (row 1) and six other animals for which the same tag was reused (row 2)? Does this ever happen?

Note that in case of 1, the animal table does **not

[2019-05-03 08:14] jreubens commented on #48
For the animals of PhD Jan Reubens, there has happened a mistake with the tag codes by vemco. And they gave me the same ID codes twice . But they should have a different serialnumber!
Thus here it are different animals, having a different tag (but with the same ID).
Some of these animals were recaptured by fishermen, but the tag was not reused in another animal...

[2019-05-03 08:31] PieterjanVerhelst commented on #48
For the two eels `A69-1601-29920` and `A69-1601-29925` the tags were retrieved and put in another eel.
For the two salmons `A69-1601-34503` and `A69-1601-34486` I will need to ask the involved people.

[2019-05-06 10:15] peterdesmet commented on #48
@jreubens since those are different tags, would it be an option to name one of them `A69-1303-20695a` in the DB?

[2019-05-09 08:43] LienReyserhove opened #49 "Uniform use of capitals in type field"
Type information related to the tags (field `telemetry_type`  in ETN application) is always `Acoustic`. In 598 cases, this word is capitalized, in 74 cases, it is not:

projectname | number of lowercase values for "acoustic"
--- | ---
2015 PhD Verhelst | 45
2013 Albertkanaal | 29

I changed this manually in the ETN application. Now all values for `telemetry_type` are capitalized

[2019-05-09 08:43] #49 closed

[2019-05-09 09:05] LienReyserhove opened #50 "Empty values for sensor type"
Values for the field `tag_sensor_type` are:

tag_sensor_type | number of records
--- | ---
P | 10
A | 10
NA | 652

This means that for 97% of the records, no sensor type is provided. @PieterjanVerhelst , @jreubens  and @IPauwels can we complete this information?
These empty records occur for the following projects x tag model combinations:

|projectcode        |model         | records|
|:---------

[2019-05-09 09:44] LienReyserhove opened #51 "Tag status - difference between active and available?"
Could I get more information relating to the field `tag_status`? Now this status is specified as `ACTIVE`, `AVAILABLE` and `ENDED`. There's no explanation in the field defenitions.
Although the content is quite intuitive, I don't really grab the difference between `active` and `available`. And does `ended` imply that the tag no longer transmits a signal?

[2019-05-09 12:35] PieterjanVerhelst commented on #50
@LienReyershove the majority of the transmitters indeed do not have a sensor. Can you give an overview of the tags which do have a sensor?
Also, model `V13-1x-069k-1` should be `V13-1x`.

[2019-05-09 13:31] PieterjanVerhelst commented on #51
`ACTIVE`: a transmitter is implanted in a fish and active in the environment
`ENDED`: the battery has dropped dead from a tag
`AVAILABLE`: a transmitter is 'on the shelf' and available for use

[2019-05-10 14:29] jreubens commented on #48
I don't think that is a good idea, as this is linked to the IDs recognized on the receiver. THus iID a or b would never have a match.

[2019-05-10 15:09] LienReyserhove commented on #48
@jreubens For the tag data related to `PhD Jan Reubens`
I inspected the tag information related to `tag_full_id` in the tag overview.
- I found two records for `A69-1303-20695` and two records for `A69-1303-20698` in the tag overview, which aligns with the duplicated use of `tag_full_id` in the animal overview.
- However, within one value for `tag_full_id`, I expected to find a different serial nu

[2019-05-16 08:29] LienReyserhove commented on #50
Sure, these are the tags which do have a sensor:

|projectcode       |tag_full_id   |sensor_type |
|:-----------------|:-------------|:-----------|
|2013_albertkanaal |A69-1105-100  |P           |
|2013_albertkanaal |A69-1105-101  |P           |
|2013_albertkanaal |A69-1105-103  |P           |
|2013_albertkanaal |A69-1105-102  |P           |
|2013_albertkanaal |A69-1105-104  |P           |
|2013_a

[2019-05-16 08:36] LienReyserhove commented on #45
@fwaumans can you integrate these changes in the database please (option 2)

[2019-05-16 08:41] #29 closed

[2019-05-17 12:45] LienReyserhove commented on #51
@fwaumans could you please changes these values to lowercase letters?
`active`, `ended` and `available`

[2019-05-17 14:18] jreubens commented on #48
No, this is not possible.
At that time, Vemco made a mistake, there is nothing we can change about this now.
Distinction between animals can only be made based on timing of detection. These were 2 different studies and detections that fall before deployment of second animal are all linked to the first animal. All detection after are all linked to second animal. Is suppose we can't change anything

[2019-05-20 11:04] LienReyserhove commented on #48
In my opinion I think it's better if we just keep it this way and not use the a and b level. I would try to keep a match between the datapaper and the DB, especially as this only concerns two serial numbers.

[2019-05-20 12:21] #31 closed

[2019-05-22 07:12] fwaumans commented on #51
done

[2019-05-22 09:01] fwaumans commented on #43
Fields surgery_latitude and surgery_longitude are completed

[2019-05-22 09:23] fwaumans commented on #42
`Surgery_location` updated

[2019-05-22 09:46] fwaumans commented on #41
I updated the field `release_location`

[2019-05-22 10:52] fwaumans commented on #34
I have updated the field `capture_location`

[2019-05-22 11:56] fwaumans commented on #40
I have updated the `utc_release_date_time`.

[2019-05-23 13:43] fwaumans commented on #46
Because only 1 value is stored in the `field post_op_holding_period` I would suggest option 1 for now. It is possible to store duration in a special PostgreSQL datatype but than I have to change the database and the applications depending on it. I can't do that in the short term.

[2019-05-23 14:28] fwaumans commented on #45
I have added a space between the value and the unit. Later on, I will split then into two fields.

[2019-07-09 11:02] LienReyserhove opened #53 "Drop dead date before deployment date"
In `vliz.deployments_view`, 39 receivers have `drop_dead_date` before `deployment_date_time`.
The term `drop_dead_date` is not present in the [field definitions](https://docs.google.com/spreadsheets/d/1XVmoxrzxoBGqC7AYBjTgzUAer0w04D6iiCJW2TW41SU/edit#gid=0), which is a file I generated containing all field definitions dowloaded from the [LifeWatch ETN page](http://www.lifewatch.be/etn/).
Might `dr

[2019-07-09 14:21] LienReyserhove opened #54 "Not all deploy_date_times from detection table in deployment table"
The following values for `deploy_date_time` in `vliz.detections_view` have no equivalent in `vliz.receiver_view`. I assume this is a mistake as the receiver table should contain all receiver deployments?

receiver | deploy_date_time
-- | --
VR2W-122362 | 2014-07-11
VR2W-122367 | 2014-07-11
VR2W-124060 | 2014-07-02

[2019-07-10 07:30] LienReyserhove opened #55 "deploy_date_time is empty for receiver VR2W-115438"
Receiver `VR2W-115438` from the `vliz.detections_view` table has `NA` for its `deploy_date_time`. Can this information be supplied and by who?

[2019-07-10 08:08] LienReyserhove opened #56 "recover date before deployment date"
**Note: this table was updated, integrated the comments of the discussion below**

The following receivers have a `recover_date_time` that falls before `deploy_date_time`. This is odd.
Can provide the correct dates and times here?

   receiver |   recover_date_time |    deploy_date_time | id_pk |          projectname
 -----------|---------------------|---------------------|-------|----------------

[2019-07-11 09:43] #34 closed

[2019-07-11 09:45] #40 closed

[2019-07-11 09:59] LienReyserhove commented on #41
Thanks. I updated the table in https://github.com/inbo/etn-occurrences/issues/41#issue-431436207. A few more updates are requested, @fwaumans could could please consider the 3rd and 4th point for futher changes in the database?

The rest is for @IPauwels when she returns.

[2019-07-11 10:05] LienReyserhove commented on #42
I updated the table in https://github.com/inbo/etn-occurrences/issues/42#issue-431438185.
Some locations still need updates, @fwaumans could you please integrate them in the database please?

[2019-07-11 11:39] LienReyserhove commented on #43
@fwaumans  I would suggest to extend this issue to all surgery dates and locations, i.e. where `date_of_surgery` is empty, use the following criteria to supplement `date_of_surgery` , `surgery_latitude` and `surger_longitude` information:
- `date_of_surgery` = `utc_release_date_time`
- `surgery_latitude` = `release_latitude`
- `surgery_longitude` = `release_longitude`

[2019-07-11 11:42] #51 closed

[2019-07-11 11:48] #39 closed

[2019-07-11 12:07] #50 closed

[2019-07-11 12:18] #48 closed

[2019-08-27 14:09] IPauwels commented on #47
@LienReyserhove At INBO we also always tagged the fish at the day he was caught. We also release the fishes (almost) always at the same day that we caught and tagged them. We have all catch dates available, I will provide them.

[2019-08-27 14:14] IPauwels commented on #47
Regarding the salmon smolts: the catch (hatchery ...) and surgery date are the same, but the release date might differ indeed, as Pieterjan mentioned! We did keep some of the fish under observation before release, also because we did not want to release them all together (5 at a time).

[2019-09-05 12:53] LienReyserhove opened #57 "Receiver deployment without deploy_date_time and without recover_date_time"
In the `vliz.deployments_view` table, one receiver deployment record lacks information for `deploy_date_time` and `recover_date_time`. This returns an empty value for the Darwin Core `eventDate` in the mapping, which is not allowed.
Additionally, for the same record, information for deployment coordinates (`deploy_lat` and `deploy_long`) is lacking as well.
Why is this the case, and could this inf

[2019-09-05 13:26] LienReyserhove opened #58 "Remove units from bottom_depth"
In the `vliz.deployments_view` table, some receiver deployments have a `bottom_depth` with a unit attached to it (`m`). Ideally, these units should be removed:

receiver | id_pk | bottom_depth | projectcode
-- | -- | -- | --
VR2AR-545718 | 4772 | 12 m | bpns
VR2AR-546900 | 4771 | 12 m | bpns   

[2019-09-09 13:41] IPauwels commented on #41
Regarding the missing info for 2013 Albertkanaal. We will add or change this info in the database later. But for datapublication, this is the info you need now:

- [ ] Fishes caught at `Hatchery Erezée` are hatched fish that were given a tag in the Hatchery of Erezée. The coordinates of the hatchery are: lat/long: 50.306056 , 5.542595. So these are the coördinates for both the catch and surgery lo

[2019-09-09 14:35] LienReyserhove commented on #47
Update: based on the discussions in this issue, I now considered surgery date to be the same as the capture date for all records without surgery date.

Now I still need the **surgery location**.
@PieterjanVerhelst and @IPauwels could you provide this information for all cases where surgery location is **not equal to** the capture location?

Note: these changes still need to be integrated in the da

[2019-09-09 15:35] PieterjanVerhelst commented on #47
@LienReyershove eels from '2015 PhD Verhelst' with capture location 'Zeeschelde (ringvaart, Merelbeke)' were tagged at the slibway in Melle with the following coordinates: 51.006930, 3.799597. The other eels from '2015 PhD Verhelst' were tagged at catch location.
Also, all twaite shads (Alosa fallax) were tagged at catch location.

**Note by @LienReyserhove : this information is integrated in the

[2019-09-10 07:58] LienReyserhove commented on #11
This is a copy-paste from the https://github.com/inbo/etn-occurrences/issues/41#issuecomment-529480105 by @IPauwels

I integrated this information in the Darwin Core mapping, but this information should also be added to the database!

[2019-09-10 08:18] LienReyserhove commented on #43
This is a copy-paste from the https://github.com/inbo/etn-occurrences/issues/41#issuecomment-529480105 by @IPauwels

[2019-09-10 08:25] LienReyserhove commented on #41
@IPauwels thank you for this input. Related to the points where I need to change the capture and/or release locations: do I consider the surgery location to be the same as the capture location?

[2019-09-10 09:12] LienReyserhove commented on #47
Update: In #43 , `surgery_latitude` and `surgery_longitude` have been provided for those recods with a `date_of_surgery` provided.  This means that we 'only' need location information (locality, latitude and longitude) for the remaining 57%

[2019-09-10 09:13] LienReyserhove commented on #47
Update: This is a copy-paste from the https://github.com/inbo/etn-occurrences/issues/41#issuecomment-529480105 by @IPauwels

[2019-09-10 09:15] LienReyserhove commented on #43
To summarize: by solving this issue, 43% of the values for `surgery_latitude` and `surgery_longitude` could be provided. For the remaining empty values, see #47

[2019-09-10 09:15] #43 closed

[2019-09-10 09:19] #33 closed

[2019-09-10 10:06] LienReyserhove commented on #41
@IPauwels I would also need the **release latitudes and longitudes** for the following records:

projectname | id_pk
-- | --
2013 Albertkanaal | 2353
2013 Albertkanaal | 2348
2013 Albertkanaal | 2354
2013 Albertkanaal | 2350
2013 Albertkanaal | 2352
2013 Albertkanaal | 2349
2013 Albertkanaal | 2347
2013 Albertkanaal | 2345
2013 Albertkanaal | 2355
2013 Albertkanaal | 2356
2013 Albertkanaal | 2357

[2019-09-10 12:26] LienReyserhove opened #59 "Comments: has_weight:, is_moored:, deploy_number:"
In `vliz.deployments_view`, the column `comments` often contains the following information:

- `has_weight:, is_moored:, deploy_number:`
- `has_weight:, is_moored:, deploy_number:1`
- `, has_weight:TRUE, is_moored:TRUE, deploy_number:1`

etc.

How do I interpret this information:
- if `has_weight` and/or `is_moored` has no value provided (i.e. is not TRUE), this should considered be as FALSE and t

[2019-09-10 14:08] LienReyserhove commented on #55
Decided that this particular receiver falls outside of the scope of the data publication paper. Issue to be considered only if we decided to broaden the scope to **all receivers** (not only those involved in the selected animal projects).

[2019-09-10 14:18] LienReyserhove commented on #57
Decided that this particular receiver falls outside of the scope of the data publication paper. Issue to be considered only if we decided to broaden the scope to all receivers (not only those involved in the selected animal projects).

[2019-09-10 22:42] PieterjanVerhelst commented on #59
The `has_weight` is a field where we can fill in if a receiver, upon last visit & download, had a mooring weight or not. When the field is not filled in, it is interpreted as `TRUE`. The `is_moored` I am not sure, but I would think it simply means the receiver is moored. However, since this is always the case for an open deployment, I consider this info redundant.
The `deploy_number` is the number

[2019-09-11 09:34] LienReyserhove opened #60 "Clean deployment locations"
The deployment locations from `vliz.deployments_view` (in `location_name` and `location_description`) need some severe formatting, cleaning and reviewing. As it concerns more than 400 locations, I exported the data and made a Google Spreadsheet [verify deployment locations](https://docs.google.com/spreadsheets/d/1pNYC_Vrjn9zdwRUUUM2yyL9OOMKKjlvGkGK2PC5emJg/edit?usp=sharing) to work more efficientl

[2019-09-11 10:29] LienReyserhove opened #61 "Deviating and lacking values for recover latitude and longitude"
**Note: the table was updated based on the discussion in this issue**

The values for the recover latitude (`recover_lat` in `vliz.deployments_view`) and recover longitude (`recover_long` in the same table) of some of the receivers are deviating from the expected values. Additionally, for about 55% of the deployments, no recover latitude or longitude is provided (while only 6% has no recover date)

[2019-09-11 13:52] fwaumans commented on #42
Surgery_location updated

[2019-09-11 14:15] fwaumans commented on #41
Updated the field  release_location for the 3rd and 4th point

[2019-09-12 10:21] IPauwels commented on #41
Sorry! Completely wrong ... I meant: the catch and surgery locations should be considered the same!

[2019-09-16 08:37] #42 closed

[2019-09-16 09:17] IPauwels commented on #41
Lien, I have completed the animals in the 2011 Rivierprik project. I added release long/lat, surgery long/lat and location, surgery date. I think this dataset is complete now, except for the fact that I noticed that we are missing detections of animals that were tagged and released in 2011! I asked the project responsible if he can provide me those data.

For the Albertkanaal project, I have not c

[2019-09-16 09:19] IPauwels commented on #11
I think Fint is completed now? Can you confirm this, please?

[2019-09-16 09:19] IPauwels commented on #11
For Albertkanaal: see my comment in the other issue please.
https://github.com/inbo/etn-occurrences/issues/41#issuecomment-531699707

[2019-09-16 09:21] IPauwels commented on #47
Except for hatched salmon (project Albertkanaal), the surgery location and date are the same as the catch location and date. Do you need more info from me still regarding this issue?

[2019-09-16 10:29] LienReyserhove commented on #41
Ok, thank you for your updates!
I integrated all the information in the mapping. Later on, we can then change it in the database.
I will keep this issue open to remind us that these changes still need to happen.

[2019-09-16 11:02] LienReyserhove commented on #11
@IPauwels yes, indeed, all coordinates for the FINT data are updated now. Thanks for that!

[2019-09-16 12:31] jreubens commented on #56
for receiver 129569, this was a mistake in YEAR. Should be 2018 instead of 2019. this has been adapted.
For the receiver of Albertkanaal @IPauwels @PieterjanVerhelst  should answer

[2019-09-16 12:33] jreubens commented on #59
I agree with @PieterjanVerhelst is_moored and deploy_number are redundant info in the current workflow. has_weight should be interpreted as Pieterjan mentioned

[2019-09-16 13:27] jreubens commented on #61
Recover lat or long is normally only provided when it deviates from it original deploy lat/long.
thus in most occassions this won' be filled in.
For the mistakes in  2.  and 3. I updated the info.

[2019-09-17 10:15] PieterjanVerhelst commented on #56
For receiver 'VR2W-124060', the deploy and recover dates do not match the data range of the receiver log files. I tried to clear it out, but to be complete, I would need the file of deployment '3' in the table beneath. That is file 'VR2W_124060_20170612_1.csv'.

| order number| receiver    | deploy     | recover    | data date range         |
|----------------|-------------|------------|----------

[2019-09-17 10:23] PieterjanVerhelst commented on #61
Following @jreubens his comment, `1.` is now redunant?

[2019-09-17 10:27] PieterjanVerhelst commented on #60
I agree with `location_name`. However, `Location_description` is merely meant as a description to find our receivers back in the field. I don't think it is of any value for external users. So before with processing this field, is it actually necessary?
@LienReyserhove, @jreubens, @IPauwels any thoughts on this?

[2019-09-17 14:26] LienReyserhove commented on #61
I would prefer that this information is provided in the ETN database, but for the mapping process to Darwin Core, this is OK. I will leave this issue open and provide the deploy lat/long for these specific recovery data. @fwaumans could you integrate these in the database?

[2019-09-18 07:38] fwaumans commented on #61
What should I do? Completing the recover lat/long with deploy lat/long when recover lat/long is empty? Tricky,  because we can't make a distinction between recover lat/long that is not completed and a recover lat/long that is the same as a deploy lat/long.

[2019-09-18 07:43] fwaumans commented on #58
I have update the field bottom_depth for these values.

[2019-09-18 07:47] fwaumans commented on #53
@jreubens : Can you give an explanation for this?

[2019-09-18 08:27] PieterjanVerhelst commented on #61
The recover lat/long mainly (only?) differs for receivers that are moored with tripods, I think. These are only a handfull of specific acoustic release receivers (VRAr). Perhaps we can use that as a filter?
@jreubens, or were recover lat/longs also used for some receivers attached to a marine buoy that when adrift?

[2019-09-19 06:24] jreubens commented on #60
I agree with @PieterjanVerhelst Location_description doesn't have any value of externals. tHis field should not be used in the datapaper

[2019-09-19 06:26] jreubens commented on #61
I would leave it empty when it is empty. It is a non-compulsary field, thus up to the scientiest to provide the information

[2019-09-19 07:01] PieterjanVerhelst commented on #60
I also dug a bit deeper on `location_name` and this is often a station name, which comes in another field. When it is not a station name, for example `Diepenbeek SA`, it is meaningless to external users, to my opinion. So `location_name` is probably redundant as well. To my opinion, the station name together with the lats and longs suffices for external users (if one of those locations is in Diepe

[2019-09-23 09:33] LienReyserhove commented on #60
I agree that locality information can be reduced to the name of the station (contained in `station_name`). If we combine it with the coordinate information that would suffice for the external user. However, I would also include `location_name` and `location_description` information in the `eventRemarks` field to include as much information as possible in the published dataset.

Two remarks:

- I d

[2019-09-23 10:14] LienReyserhove commented on #61
After this discussion, I agree with @fwaumans and @jreubens to leave the field empty when no recover latitude or longitude is provided as it is difficult to know whether the information is just lacking or whether the recover coordinates equal the deployment coordinates. I would not deduct this information.

What **should** be corrected are the recovery coordinates of the receivers listed in the ta

[2019-09-23 11:47] #58 closed

[2019-09-23 11:50] jreubens commented on #61
I'll do the update for Noordzeekanaal and Westerschelde. @IPauwels can you do that for the INBO projects

[2019-09-23 11:58] jreubens commented on #53
@LienReyserhove can you give me an overview of this 39 deployments?
I'll look into the details then...

[2019-09-23 12:00] jreubens commented on #53
drop_dead_date is this a field on DB level or in the webapp? I don't see that field on webapp level...

[2019-09-24 12:34] LienReyserhove commented on #53
This is a field on DB level, I retrieved the field in the `vliz.deployments_view` table

[2019-09-24 12:47] LienReyserhove opened #62 "latitude and longitude information in detections table"
In the `vliz.detections_view` table, I can see several fields with latitude and longitude information:
- `latitude`
- `longitude`
- `deployment_lat`
- `deployment_long`

I have two questions:

- (sorry for this perhaps naive question, I have some problems interpreting the data). Can a **detection** be linked to a specific latitude/longitude? By this I mean: does the database include lat/long infor

[2019-09-25 07:26] fwaumans commented on #62
In the `vliz.detection_view`   is
`latitude` and `longitude` coming from a detection record
`deployment_lat` and `deployment_lon` coming from a deployment record
@jreubens : can you answer point 1?

[2019-09-26 12:34] PieterjanVerhelst commented on #60
@LienReyershove I would leave the `station_name` as they are. They are indeed often meaningless, simply because this is inherent to the station. For instance the names/numbers of the marine buoys, used in the station names at sea and the Westerschelde.
Instead, we could use `location_name` to mention the town or city, but what with receivers at sea, westerschelde or saeftinghe for instance? I just

[2019-09-26 12:41] PieterjanVerhelst commented on #62
The lats and longs from the detections are indeed the lats and longs from the receiver who detected the tagged fish. A transmitter therefore does not have an exact position, but the position of the receiver.
However, it is possible in specific receiver setups to calculate the exact transmitter position through, for instance, triangulation. @jreubens  is this type of data already included in the da

[2019-10-01 10:31] LienReyserhove commented on #60
@PieterjanVerhelst OK, I agree that this will be too much effort, the longitude and latitude information is more informative here. I will restrict the locality information to `station_name`.
Will leave this issue open for a few more days, if I don't get any response I assume that all others agree with this decision (consider this as a silent vote :-) )

[2019-10-01 12:05] LienReyserhove opened #63 "Clean station names"
How much "freedom" do we have in cleaning values in `station_name` (`vliz.deployments_view` table)? While inspecting the content of this field (see #60), I found an inconsistent use of capital letters, e.g.:

- Use of small letters vs capital letters for codes: `ak-1` vs `HH1`
- abbreviations **starting** with small letter vs capital letter: `ngOudsa` vs `RingvN`
- use of full location name: `TOEV

[2019-10-01 12:22] PieterjanVerhelst commented on #63
In general, a station name exist of two parts:
1) an acronym of the respective waterway (e.g. s for Schelde, bpns for Belgian part of the North Sea, ak for Albertkanaal...).
2) a location identifier, which can be the name of a naval buoy (mainly in bpns and westerschelde), the name of a city or village, or just a number

Everything can be in lower case letters :-).

[2019-10-01 13:06] LienReyserhove commented on #63
Ok, thanks for the input, I will revise all station names and will feed back later!

[2019-10-03 09:49] LienReyserhove opened #64 "Station_name does not equal deployment_station_name in detections table"
`vliz.detections_view` includes two fields for `station_name`: `station_name` and `deployment_station_name`. I would expect that these values of these fields are identical. This is not the case for the following stations though. Could this be corrected in the database?

1. Cases where `station_name` is more or less similar to `deployment_station_name`

station_name | deployment_station_name
--- |

[2019-10-03 11:44] LienReyserhove commented on #62
If I understand it correctly, then:
- `deployment_lat` = `latitude`
- `deployment_long` = `longitude`

as both are linked to the receiver.

However, this is not always the case, for many records, `deployment_lat` does not equal `latitude` (same for longitude). Any explanation?

[2019-10-04 07:16] PieterjanVerhelst commented on #64
I checked the stations for project `Zeeschelde` (with `s-` in station name), `2012_leopoldkanaal` (with `bh-` in station name), and the three `Westerschelde` arrays (with `ws-` in station name). Here are the station names that need to be changed:
* `s-4c` is the station name, and not `de-3`. However, could you check that the deployment date of this station is later than 27/04/2015?
* `LEOPOLDKANAA

[2019-10-07 11:51] jreubens commented on #53
@fwaumans, @LienReyserhove can one of you give me the detailed list of deployments where there is an issue. Than I can investigate

[2019-10-07 11:56] jreubens commented on #62
Deploy_lat and deploy_long should indeed be similar to lat and long.
However. lat en long are fields a scientist can fill in on the receiver while initializing it. Often mistakes occur there.
Thus we shouldn't take the fields lat en long into account and always use deploy_lat and deploy_long.

hope this helps

[2019-10-07 12:00] jreubens commented on #60
I agree with @PieterjanVerhelst

[2019-10-07 12:52] jreubens commented on #64
@fwaumans on which level do we have each of this names?
I guess deploy_station_name is on deployment level and the relevant one...

[2019-10-08 11:42] LienReyserhove commented on #62
Thanks for the help, I will thus use `deploy_lat` and `deploy_long`.

[2019-10-09 12:41] LienReyserhove commented on #53
@jreubens here the overview of the deployments for which `drop_dead_time` falls before `deploy_date_time` with their primary key. Does this information suffice?

project code |receiver | id_pk | drop_dead_time | deploy_date_time
--- |--- | --- |--- | ---
albert	| VR2W-126195	|1819	|2015-12-22 00:00:00	|2016-01-13 00:00:00
albert	| VR2W-122328	|3298	|2016-09-29 00:00:00	|2016-12-14 00:00:00
albert

[2019-10-10 09:51] LienReyserhove commented on #62
Reopening this issue, as it would be great to at least remove all records for which `latitude` and `longitude` is zero, which is just wrong information. @fwaumans is this an option?

[2019-11-04 13:24] fwaumans commented on #62
I don't find any reocrds with `deployment_long =0 or deployment_lat =0`. Which records do you mean?

[2019-11-06 09:02] peterdesmet opened #66 "Cleanup + download raw detections"
On branch https://github.com/inbo/etn-occurrences/tree/cleanup. Todo:

## data

- [x] data/raw: remove input_
- [x] data/processed/detections/ -> 2 files

## docs

- [x] remove docs
- [x] remove static website in settings

## sql

- [x] dwc_emof_deployments -> dwc_emof_receiver_deployments
- [x] dwc_event_deployments -> dwc_event_receiver_deployments

## src

- [x] remove etn-occurrences.git
- [x]

[2019-11-12 08:23] fwaumans commented on #64
I missed this issue. We keep track of station name on

- detection level: I guess this station name is stored in the receiver
- deployment level: this station name is completed when adding a deployment in the database.

I think the one on deployment level is the most relevant one.

[2020-08-24 15:48] #66 closed

[2020-08-24 15:59] peterdesmet opened #69 "What deployments to include"
@IPauwels @PieterjanVerhelst @jreubens What receiver deployments should be included for a dataset? For example `2011_rivierprik` has 117,046 detections for 30 (of its 39) animals. Those detections are made by 29 receivers, over 88 deployments. Which deployments should be included in `deployments.csv`?

1. If we limit to the 88 deployments with detections, then we are excluding (potentially useful

[2020-08-25 05:36] jreubens commented on #69
Hmmm that is indeed a difficult one with our network of receivers.
We have to watch out with the receivers, as a receiver can change place over time...

Some thoughts:
1. we limit to deployments within tag life of the animals at stake (tags die off after certain period, thus limit to this)
2. deployments belong to a specific network. All deployments of that network should be included... e.g if an

[2020-08-25 08:56] peterdesmet commented on #69
@jreubens I definitely like option 2: see what network projects are included in the detections and get all deployments for that network (with or without using a time frame). That way we include deployments/receivers without detections, and it is easy to implement and communicate in the metadata.

[2020-08-25 09:15] peterdesmet commented on #69
https://github.com/inbo/etn-occurrences/pull/70 shows the effect of selecting on network_project_code. I think it is a good implementation, even without selecting on a time frame (as network_projects seem to be defined in time anyway).

[2020-08-25 09:45] IPauwels commented on #69
"Do you have a better idea of how to define the relevant deployments (from an animal project standpoint)? I.e. to allow the user to understand what receivers where deployed at the time of the animal project?"

Selecting on network project code seems fine by me. Do I understand it correctly that this is the same as taking the time frame from the first to the last date in the animal project that a (

[2020-08-25 10:13] peterdesmet commented on #69
The time frame is not necessarily the same: it is defined by how long a network project lasts. Basically, what happens now is:

1. animal_project => get associated animal metadata => get associated tag metadata
2. animal_project => get associated detections
3. detections => get associated network_projects: i.e. the networks that picked up those animals
4. network_projects => get all deployments: *

[2020-08-25 10:21] peterdesmet commented on #69
For e.g. `2011_rivierprik`, the detections only cover network project `bovenschelde`, which had its last deployment picked up in 2012-09-03.

[2020-08-25 13:14] IPauwels commented on #69
Ok, I understand! Yes, I share your thought on the fact that users can easily ignore irrelevant deployments. If it should be a problem still, then I think that additionally selecting deployments based on the time frame of the animal project (as mentioned by Jan) is a good additional step, and perhaps also a double check by the investigator. I leave this up to your preferences. The suggestions made

[2020-08-25 14:14] peterdesmet commented on #69
Thanks, merging #70 and closing this one.

[2020-08-25 14:14] #69 closed

[2020-09-02 19:39] peterdesmet opened #71 "Orphaned deployments"
In the animal project `2012_leopoldkanaal` I noticed there are detections associated with deployments **that do not have an associated `network_project_code`**:

receiver_id | deployment_fk | network_project_code | from | to | detections
-- | -- | -- | -- | -- | --
VR2W-115438 | 1343 | none | 2015-05-25 02:02:54 | 2015-08-18 22:57:18 | 44

This _orphaned deployment_ is not listed in the `deploymen

[2020-09-02 21:34] PieterjanVerhelst commented on #71
This is strange. I would argue that all deployments are indeed associated with a `network_project_code`, for each deployment is part of a network. According to the date, this deployment is part of the network project in the Leopold canal. I couldn't find a specific network_project_code, is it therefore possible this belongs to `lifewatch`?

[2020-09-03 06:46] peterdesmet commented on #71
The `network_project_code` for Leopold canal is `leopold`.

[2020-09-03 06:49] peterdesmet commented on #71
Anyone know how to assign this in the ETN application?

[2020-09-03 07:00] jreubens commented on #71
If I search on deployment_fk it seems I don't have access to the deployment. Which is strange as well.
What do you mean with assigning in ETN application @peterdesmet
@PieterjanVerhelst: I can see only two deployments linked to lifewatch, but not covering the dates specified

[2020-09-03 07:30] PieterjanVerhelst commented on #71
@jreubens these 2 deployments should be changed to the correct project network. For instance, I know that Jolien added station `ws-STD3` under project network `lifewatch`, while this should be `zeeschelde` (thought she changed it, but in the ETN database it is still under `lifewatch`). That is, lifewatch exists of various project networks and is not a project network in itself, to my opinion.
For

[2020-09-03 09:54] peterdesmet commented on #71
Ok, from your comments it is quite clear _what_ should be done:

deployment_id | receiver_id | station_name | current nw project | new nw project
--- | --- | --- | --- | ---
5032 | FAKE-TEMP | ws-STD3 | Lifewatch | zeeschelde **done**
4426 | VR2Tx-480063 | ws-STD3 | Lifewatch | zeeschelde **done**
1343 | VR2W-115438 | ? | none | leopold

It is unclear _how_ it can be done. In the ETN application I

[2020-09-03 11:16] peterdesmet commented on #71
@IPauwels, the same issue exists for `2014_demer`:

receiver_id | deployment_fk | network_project_code | from | to | detections
--- | --- | --- | --- | --- | ---
VR2W-122362 | 1382 | no_info | 2014-07-11 23:40:48 | 2014-09-05 23:18:04 | 490
VR2W-122367 | 1383 | no_info | 2014-07-11 18:11:00 | 2014-12-16 10:21:53 | 1952
VR2W-124060 | 1384 | no_info | 2014-07-02 00:02:38 | 2014-09-07 02:18:53 | 227

[2020-09-08 07:57] fwaumans commented on #71
In the `project` table in the database, two network projects does not have a real name:
**id**|**name**|**projectcode**|**type**|**startdate**|**enddate**
:-----:|:-----:|:-----:|:-----:|:-----:|:-----:
609|NONE|none|network||
608||no\_info|network||

[2020-09-08 08:24] peterdesmet commented on #71
And deployments associated with these are excluded from the deployment view? Can this be _included_ in the deployment view?

[2020-09-08 08:25] fwaumans commented on #71
Wait, I'm running a query.

[2020-09-08 08:39] IPauwels commented on #71
If you give me the list of deployments that miss the projectcode, then I will provide it so that it can be adapted.
As Pieterjan indicated, the one deployed in the Leopold canal can have projectcode 'Leopold'.

How/where did you see that the others are from 2014_demer?

[2020-09-08 08:49] fwaumans commented on #71
I think this are deployments we imported from an excel file from INBO when we started with the ETN database. We did not have a project for these deployments. They don't occur in the deployments view because no access rights were granted to these projects.
[project_none_no_info.xlsx](https://github.com/inbo/etn-occurrences/files/5187174/project_none_no_info.xlsx)

[2020-09-08 09:00] fwaumans commented on #71
You have now access to the projects 'NONE' and 'NO_INFO'.

[2020-09-09 10:58] peterdesmet commented on #71
@fwaumans thanks for updating the 2 zeeschelde deployments already and make `no_info` and `none` available in the deployments.

@IPauwels @PieterjanVerhelst let's try to assign the **network** and **station** to the remaining ones:

pk | receiver_id | network_project_code | station_name | deploy_date_time | recover_date_time | between deployments of
-- | -- | -- | -- | -- | -- | --
1335 | VR2W-112

[2020-09-09 12:52] PieterjanVerhelst commented on #71
@peterdesmet is it possible to see some detections of `VR2W-112292` and `VR2W-115444`? I would think both are part from the network `leopold`, but it is strange that there is only 1 day difference between the recover data of these orphaned deployments and the non-orphaned deployment in the databse.

[2020-09-09 13:45] peterdesmet commented on #71
Will send them by email. @IPauwels I think the demer once are more straightforward (they all have stations associated with Demer)

[2020-09-09 14:34] PieterjanVerhelst commented on #71
Quite odd, these deployments have detections belonging to different projects (station name between brackets):
+ `115444`: detections for `bovenschelde` (`SOmZwa`), `leopold` (`bh-8`), and `zeeschelde` (`s-Vlassenbroek`)
+ `112292`: detections for `leopold` (`bh-5`), and `zeeschelde` (`s-Dendermonde`)

Is there a possibility to check if these detections are already in the database and therefore the

[2020-09-11 07:29] IPauwels commented on #71
I am afraid that the same might have happened to the "Demer-receivers/orphaned deployments". I will need to have the detections of those as well to be sure. Is it possible to send me these by email, Peter? Many thanks!!

[2020-10-06 11:50] peterdesmet commented on #22
@fwaumans or someone else at VLIZ: can you include the two fields in the dropdown. Note also that the definition for age is currently wrong:

[2020-10-06 14:29] peterdesmet commented on #71
@IPauwels any progress on this issue? It is blocking the upload for some datasets.

[2020-10-06 15:11] peterdesmet opened #72 "Duplicate detections"
For 2013_albertkanaal, I noticed 1044 detections with the same primary key, e.g. `116645917`. They seem to be full duplicates (info in all fields is the same). @fwaumans can you verify this is actually how they occur in the database and remove the duplicates?

[2020-10-06 15:15] IPauwels commented on #71
Sorry, checking it!

[2020-10-06 15:36] IPauwels commented on #71
Yes, this is all demer!

My apologies, I had misunderstood a bit the problem and thought it was more work to check it..
Truly sorry!

[2020-10-06 18:35] peterdesmet commented on #71
Thanks @IPauwels!

@PieterjanVerhelst can we assign 1335 and 1345 (see https://github.com/inbo/etn-occurrences/issues/71#issuecomment-689486825) to `leopold` now, even though it is somewhat odd?

[2020-10-07 08:20] PieterjanVerhelst commented on #71
@peterdesmet it depends:

- 1335 (receiver VR2W-112292):
   * until 30/06/2012: project `bovenschelde`
   * 2012-07-01 till 2015-11-17: project `leopoldkanaal`

- 1345 (receiver VR2W-115444):
   * until 30/06/2012: project `bovenschelde`
   * 2012-07-01 till 2015-11-17: project `leopoldkanaal`

However, according to the ETN database, all deployments are there so I think the detections are already

[2020-10-07 09:34] peterdesmet commented on #71
Hi @fwaumans, I have summarized all the discussions. Here are the actions to take in database:

pk | receiver_id | network_project_code | remarks | deployment table | detection table
-- | -- | -- | -- | -- | --
1335 | VR2W-112292 | none | no deploy date, recover date (2015-11-18) 1 day after previous deployment (2792), no associated detections | remove record | no action
1343 | VR2W-115438 | none

[2020-10-22 17:09] peterdesmet opened #73 "Assign cods to 2015_phd_verhelst"
These animals are still listed under `2015_phd_verhelst_eel`, while they should go under `2015_phd_verhelst_cod`

animal_id | tag_id
--- | ---
270 | A69-1601-14869
628 | A69-1601-58577
271 | A69-1601-14869
2821 | A69-1601-58577
2827 | A69-9006-904,A69-9006-903

[2020-10-22 17:19] PieterjanVerhelst commented on #73
Indeed, we are looking into it. I couldn't change the project name for those animals (probably a bug).

[2020-10-26 12:15] #73 closed

[2020-10-26 15:08] peterdesmet opened #74 "2015_phd_verhelst_cod: 3 unknown receivers"
The detection data of `2015_phd_verhelst_cod` contains 222,410 detections of **3 unknown receivers** linked to `bpns` that cannot be found in deployments or receivers:

[code]

@PieterjanVerhelst can these be added to the database (otherwise I'm getting a lot of foreign key errors)?

[2020-10-26 15:26] jreubens commented on #74
I don't understand the issue. If you get detections, you should have deployments. All three receivers have deployments in bpns. I don't think there are missing deployments here. @peterdesmet What exactly do you want us to do?

[2020-10-26 15:52] peterdesmet commented on #74
@jreubens I just checked again, and those 3 receivers are not available in the `deployments` and `receivers` view. They do seem to be available under the names:

VR2C69-450114 → VR2C-450114
VR2C69-450136 → VR2C69-450136
VR2C69-450113 → VR2C-450113

But that is not how they are written in the detections. I am not sure how that can happen, but could these be updated in the detections view?

[2020-10-26 16:26] peterdesmet commented on #72
I also noticed 27782 duplicate detections for `2015_phd_verhelst_cod`. I am removing those when downloading, but I wonder if they should be removed from the database as well?

[2020-10-27 06:21] jreubens commented on #72
Can you provide me an overview of the duplicates. Then I can check how this is possible.

[2020-10-27 10:36] peterdesmet commented on #72
@jreubens attached, the 27782*2 duplicates in `2015_phd_verhelst_cod`: [2015_phd_verhelst_cod_dup_detections.txt](https://github.com/inbo/etn-occurrences/files/5444634/2015_phd_verhelst_cod_dup_detections.txt)

[2020-10-27 12:45] #57 closed

[2020-10-27 12:46] #5 closed

[2020-10-27 13:18] peterdesmet commented on #6
This is now defined in the detections view.

[2020-10-27 13:18] #6 closed

[2020-10-27 13:18] #13 closed

[2020-10-27 13:19] #55 closed

[2020-10-27 13:20] #54 closed

[2020-10-27 13:21] peterdesmet commented on #24
@PieterjanVerhelst see comment above (from over a year ago): can this issue now be closed?

[2020-10-27 14:58] PieterjanVerhelst commented on #24
@peterdesmet can be closed. Note that form Salmo salar lengths are either in mm or cm (indicated in the column `Length1_unit`).

[2020-10-27 15:13] #24 closed

[2020-11-01 20:59] fwaumans commented on #71
All actions were taken in the database.

[2020-11-01 22:31] fwaumans commented on #72
I checked the detection with id_pk 116645917. The reason for the duplication are two 'different' animals (id_pk =524, 525)  in the in database which are released on the same data ("2015-04-22 00:00:00")  with the same tag (id_pk =618).
The problem is situated in the animal table. This is also the case for the other 1043 detections of the same tag. You have to delete or change one of the animal rec

[2020-11-01 22:56] fwaumans commented on #72
Same problem for the 27782 dupllicated detections: two animals released with the same tag.
Tags: id_pk = 502
Animals: id_pk = 2821, 628

[2020-11-02 12:06] #71 closed

[2020-11-02 19:05] peterdesmet opened #75 "Duplicate animal in 2015_phd_verhelst_cod"
In `2015_phd_verhelst_cod` there are two animals which are the cause of duplicate detections (#72). They have the same tag, but no `recapture_date_time` and very similar information. @PieterjanVerhelst can you verify these are indeed different animals or if these are duplicates that should be merged?

All fields that are not NA:

field | animal 628 | animal 2821
--- | --- | ---
pk | 628 | 2821
ani

[2020-11-02 19:12] peterdesmet opened #76 "Duplicate animal in 2013_albertkanaal"
In `2013_albertkanaal` there are two animals which are the cause of duplicate detections (#72). They have the same tag, but no `recapture_date_time` and very similar information. @PieterjanVerhelst can you verify these are indeed different animals or if these are duplicates that should be merged? To me it seems more clearcut than #75 that these are indeed duplicates?

All fields that are not NA:

[2020-11-02 19:13] peterdesmet commented on #72
Thanks for investigating @fwaumans. I have created two new issues regarding these supposed duplicated animals and assigned these to @PieterjanVerhelst to investigate. Once resolved (and the duplicates disappear) I will close this issue.

[2020-11-02 19:25] peterdesmet commented on #76
Ping @IPauwels

[2020-11-02 19:33] PieterjanVerhelst commented on #75
@peterdesmet  these are indeed different fish. The fish that was tagged first was caught on 10-08-2015 11.30h (GMT) at N 51.30.430   O 002.57.017. If I add this information to the ETN database, the issue will be solved. Is that correct?

[2020-11-02 19:41] PieterjanVerhelst commented on #76
@peterdesmet , no idea about these salmons since I was not involved in the salmon tagging. I know some salmons died after surgery, so probably the first had died after which the transmitter was removed to put it in the second salmon. But I let @IPauwels give feedback on this one.

[2020-11-02 19:52] PieterjanVerhelst commented on #75
Update: when I filled in the recapture date in the ETN database I got an error that I could not edit the animal due to the expired tag end date. However, it should always be possible to fill in the recapture date of an animal since it can be caught after the tag expired. @jreubens can you look at this?

[2020-11-05 11:28] jreubens commented on #75
I'm checking with Aubri, will update you as soon as I have an answer...

[2020-11-05 12:57] jreubens commented on #75
@PieterjanVerhelst solved, this issue was a result of having 2 animals with the same ID but not having a recapture date, than the system gets confused.
But it is updated now...

[2020-11-09 12:58] peterdesmet commented on #74
@jreubens @fwaumans can this issue be resolved? It is blocking the data publication.

[2020-11-09 12:59] peterdesmet commented on #75
Great! No more duplicate detections. Still an issue with unknown receiver_ids: see #74.

[2020-11-09 12:59] #75 closed

[2020-11-09 14:56] #72 closed

[2020-11-09 15:08] IPauwels commented on #76
@peterdesmet  animal 524 was dead after tagging and the tag was then used for tagging animal 525. So, animal 524 can be removed from the dataset.

[2020-11-09 15:18] PieterjanVerhelst commented on #76
@IPauwels I would suggest to remove the animal from the ETN database as well, since it was not released back in the wild.

[2020-11-09 15:48] peterdesmet commented on #76
Yes, can someone remove animal 524 from the database. That is the source for everything.

[2020-11-09 16:20] peterdesmet commented on #76
Seems I had the rights to remove it myself, so I have done so.

[2020-11-09 16:27] IPauwels commented on #76
Ok, thanks!

[2020-11-09 16:50] peterdesmet commented on #76
Great, no more duplicate detections, dataset is now valid:

[code]

[2020-11-09 16:50] #76 closed

[2020-11-10 07:09] jreubens commented on #76
you can indeed manage your own animals in ETN.... :-)

[2020-11-10 08:18] peterdesmet commented on #76
😄 Cool, just didn't know they were my salmons.

[2020-11-10 08:59] fwaumans commented on #74
The receiver name is completed in two places in the database:
1. in the detectiontable, the receivername comes from the device itself via the detectionfile (this one is shown in the view)
2. in the deployment, completed by the user.

In some rare occasions, they don't correspond. I have replaced the mentioned receivernames in the detectiontable.

[2020-11-10 10:00] peterdesmet commented on #74
Great! Works now.

[2020-11-10 10:00] #74 closed

[2020-11-12 11:50] peterdesmet opened #77 "Split 2013_albertkanaal in 2013_albertkanaal and 2013_albertkanaal_sync"
Export has already been done as two datasets, but the project split in 2 in the ETN database. These are the 13 "animals" that should be assigned to the new project `2013_albertkanaal_sync`:

animal_id | tag_id | scientific_name
--- | --- | ---
650 | A69-1601-65039 | Sync tag
651 | A69-1601-65040 | Sync tag
652 | A69-1601-65041 | Sync tag
653 | A69-1601-65042 | Sync tag
654 | A69-1601-65043 | Sync

[2020-11-12 13:15] peterdesmet opened #78 "Duplicate detections in 2010_phd_reubens_sync"
`2010_phd_reubens_sync` contains 77.426 detections with duplicate `pk` (38713 to be removed). This seems to be caused by 2 tags:

tag_id | tag_fk | animal_id | (Number of Rows)
--- | --- | --- | ---
A69-1303-65302 | 67 | 733 | 112
A69-1303-65302 | 85 | 747 | 112
A69-1303-65303 | 68 | 2159 | 38601
A69-1303-65303 | 68 | 734 | 38601

- [ ] `A69-1303-65302`: is listed 3 times in tags: 96 (AVAILABLE),

[2020-11-13 14:32] peterdesmet opened #79 "Remove Sentinel tags from 2010_phd_reubens"
Although sentinel tags have been move to a separate project, they still seem to be included in `2010_phd_reubens` as well:

<img width="979" alt="Screenshot 2020-11-13 at 15 31 18" src="https://user-images.githubusercontent.com/600993/99083157-6ba9b080-25c5-11eb-9cc7-700a6814ece9.png">

[2020-11-13 17:38] peterdesmet opened #80 "Should treatment_type = INTERNAL TAGGING not be tagging_type = internal?"
I notice that most animal records have `treatment_type` = `INTERNAL TAGGING`. This seems an odd field for that. Should this not be `tagging_type` = `internal`? @PieterjanVerhelst @jreubens @IPauwels

[2020-11-13 19:54] PieterjanVerhelst commented on #80
@peterdesmet indeed, that information belongs to `tagging_type`. `Treatment_type` is to assign an animal to a specific study group, for instance the 'control group'.

[2020-11-14 16:25] peterdesmet commented on #80
👍  How should sentinel/sync tags be marked?

[2020-11-14 16:33] peterdesmet commented on #80
@IPauwels I notice `Platichthys flesus` (in `2015_dijle`) has tagging type `external`. One however has `internal`. Does this seem correct or should all have `external`?

[2020-11-14 17:16] PieterjanVerhelst commented on #80
@peterdesmet imo `tagging_type` is redundant for sentinel/sync tags. `treatment_type` is debatable, but can also be left open. @jreubens and @IPauwels  what do you think?

[2020-11-15 11:56] peterdesmet commented on #62
Checking if there is any `deploy_latitude` = 0 and `deploy_longitude` = 0. Indeed, none have those:

- [x] 2010_phd_reubens
- [x] 2010_phd_reubens_sync
- [x] 2011_rivierprik
- [x] 2012_leopoldkanaal
- [x] 2013_albertkanaal
- [x] 2013_albertkanaal_sync
- [x] 2014_demer
- [x] 2015_dijle
- [x] 2015_homarus
- [x] 2015_phd_verhelst_cod
- [x] 2015_phd_verhelst_eel

Closing issue

[2020-11-15 11:56] #62 closed

[2020-11-15 12:21] peterdesmet commented on #56
This has been resolved in the database as suggested by Pieterjan. The number of detections returned is unchanged :+1:

[2020-11-15 12:21] #56 closed

[2020-11-15 12:25] peterdesmet commented on #61
This is now corrected in the database and no `recover_latitude`/`recover_longitude` = 0 for our projects. In fact, only one project has still 0 values: `OTN-Tosenfjorden`

[2020-11-15 12:25] #61 closed

[2020-11-15 14:07] peterdesmet commented on #11
Current situation:

## capture loc coordinates missing

[code]

animal_project_code | capture_location| n
--- | --- | ---
2010_phd_reubens | ~NA~ | 12
2010_phd_reubens_sync | NA | 15
2013_albertkanaal | ~Diepenbeek~ | 2
2013_albertkanaal | ~Genk~ | 7
2013_albertkanaal | ~Hasselt~ | 3
2013_albertkanaal | hatchery Erezée | ~128~ 2: to be corrected later
2013_albertkanaal | ~NA~ | 13
2015_phd_verhels

[2020-11-15 14:09] peterdesmet commented on #11
The release location is the most important:

@IPauwels can you provide the coordinates for Genenbos and Ham?

@jreubens can you provide the coordinates for B05 Belwind?

[2020-11-15 14:13] peterdesmet commented on #17
For all data paper projects, this is now ok. Closing issue.

[2020-11-15 14:13] #17 closed

[2020-11-15 14:14] peterdesmet commented on #18
For all projects in the data paper this is now ok. Closing issue.

[2020-11-15 14:14] #18 closed

[2020-11-15 14:16] peterdesmet commented on #26
Information assumed complete.

[2020-11-15 14:16] #26 closed

[2020-11-15 14:17] #36 closed

[2020-11-15 14:19] peterdesmet commented on #38
The field `tagger` is empty for all animals in the data paper and thus not linked to `person_id`. I think that is fine.

[2020-11-15 14:19] #38 closed

[2020-11-15 14:45] peterdesmet commented on #45
The values in the DB are all ok for the data paper:

anaesthetic_concentration | n
--- | ---
0.025 ml/L | 3
0.02 ml/L | 81
0.10 ml/L | 1
0.15 ml/L | 2
0.1 ml/L | 9
0.2 ml/L | 21
0.3 ml/L | 198
NA | 490

But the field is not split, I think it will stay that way

[2020-11-15 14:46] #46 closed

[2020-11-15 14:46] peterdesmet commented on #46
Note, the field is now called `post_surgery_holding_period` and indeed, only 1 record has a value: `1 hour`

[2020-11-15 15:16] peterdesmet commented on #47
I think it is fine to leave the surgery date empty in the database (assumed to be the same as catch date in most cases), it is the case for many projects:

animal_project_code | n
--- | ---
2010_phd_reubens | 41
2011_rivierprik | 31
2012_leopoldkanaal | 104
2015_homarus | 2
2015_phd_verhelst_cod | 70
2015_phd_verhelst_eel | 136

However, 1 record in `2010_phd_reubens` and 38 records in `2015_phd_v

[2020-11-15 15:21] peterdesmet commented on #41
@IPauwels based on [your comment](https://github.com/inbo/etn-occurrences/issues/41#issuecomment-529480105), the required update would be the table below. I can update the catch and release location (can you provide coordinates for the release location as well?), but I am not planning to update the surgery location = catch location:

catch_location | new_catch_location | catch_lat | catch_long | n

[2020-11-15 15:27] peterdesmet commented on #53
`drop_dead_time` = `battery_estimated_end_date`. The table above (with estimated end date before deploy date) can be reproduced with:

[code]

I think this is only a minor quality issue. Closing.

[2020-11-15 15:27] #53 closed

[2020-11-15 15:32] peterdesmet commented on #59
@PieterjanVerhelst should this deployment `comment` be left as is or cleaned up?

[2020-11-15 15:33] #60 closed

[2020-11-15 15:34] peterdesmet commented on #63
@PieterjanVerhelst Do we still plan to clean `station_name` in deployments?

[2020-11-15 15:34] #64 closed

[2020-11-15 19:50] PieterjanVerhelst commented on #45
@peterdesmet a bit too fast I'm afraid. I must have missed this issue, but the concentrations `0.025 ml/L` and `0.02 ml/L` need to be `0.25 ml/L` and `0.2 ml/L` respectively, if these values occur in projects from my phd, specifically `2015_phd_verhelst_eel` and `2015_phd_verhelst_cod`. Apologize for this late notification.

[2020-11-15 20:01] PieterjanVerhelst commented on #63
@peterdesmet I think we should definitely use a standard for station name nomenclature. However, changing the current names may be difficult. Is this necessary? If so, I suggest to create a list of station_names that need to be altered with the project. It is than up to the PI of that particular project to come up with a more standardised station name.

[2020-11-15 20:06] PieterjanVerhelst commented on #59
@peterdesmet I would clean it up and remove `is_moored` and `deploy_number`.

[2020-11-15 20:15] PieterjanVerhelst commented on #47
@peterdesmet the 38 eels in `2015_phd_verhelst_eel` were tagged (=had surgery) the day of capture. Hence, `capture_date_time` = `surgery_date_time`.
The cod in the project by @jreubens is probably a date-time issue (1st of October or 10th of January).
Thanks for checking!

[2020-11-16 09:53] peterdesmet commented on #45
Thanks! Now fixed for `2015_phd_verhelst_cod `, still to fix for `2015_phd_verhelst_eel`.

[2020-11-16 09:57] peterdesmet commented on #63
No, and I guess we should not attempt this now (for the publication of the data paper), as it will take too much time. Might be good to suggest a format in the definition of that field though, but I'll leave that up to you and other researchers. 😉

[2020-11-16 09:57] #63 closed

[2020-11-16 10:02] peterdesmet commented on #59
@PieterjanVerhelst so values should be corrected like this?

original | new
--- | ---
, has_weight:, is_moored:, deploy_number:1 Niet alle data is even correct ingevuld. GPS coordinaten en plaatsingsdatum zijn bij benadering ingevuld bij gebrek aan correcte data | has_weight:, Niet alle data is even correct ingevuld. GPS coordinaten en plaatsingsdatum zijn bij benadering ingevuld bij gebrek aan co

[2020-11-16 10:16] peterdesmet commented on #47
@PieterjanVerhelst ok if I then also set the time (in addition to the date) for surgery the same as for capture? I notice the release is often half an hour later.

[2020-11-16 13:02] peterdesmet commented on #80
@ipauwels suggests for the `2012_leopoldkanaal` sync tags to add `treatment_type: receiver clock synchronisation`

[2020-11-16 13:13] peterdesmet commented on #11
@IPauwels the record with empty release location is animal with tag `A69-1601-64513`, captured on 2017-03-30 10:00:00, hatchery Erezée

[2020-11-16 14:09] jreubens commented on #47
@peterdesmet can you inform me which animal still has that surgery date before capture date? I'll adapt then

[2020-11-16 14:33] jreubens commented on #78
These are not that easy to handle, as this was a mistake of Vemco. Thus although the tag Ids are the same, these tags were put in the water as different tags. Thus I can't remove any tag/animal from the DB.
Can we manually remove the duplicates generated here?

[2020-11-16 14:41] jreubens commented on #11
done for cod at B05

[2020-11-16 14:42] jreubens commented on #11
sorry didn't mean to close it

[2020-11-16 14:57] jreubens commented on #79
this is solved now.

[2020-11-16 15:08] peterdesmet commented on #79
One record is still under both `A69-1303-65309`

[2020-11-16 15:40] PieterjanVerhelst commented on #59
@peterdesmet correct

[2020-11-16 16:37] peterdesmet commented on #11
Ham: 51.095625, 5.124383 & Genenbos 51.016, 5.233 are now added.

[2020-11-16 16:48] peterdesmet commented on #77
As agreed with @inbo/aquatisch-beheer sync tags are now moved out of `2013_albertkanaal` and into `2015_albertkanaal_VPS_Ham`. They will be included as extra file in `2013_albertkanaal` dataset.

[2020-11-16 16:48] #77 closed

[2020-11-16 18:31] peterdesmet commented on #45
Now also fixed in `2015_phd_verhelst_eel`

[2020-11-16 18:31] #45 closed

[2020-11-16 19:54] peterdesmet commented on #11
All solved

[2020-11-16 19:54] #11 closed

[2020-11-16 20:03] peterdesmet commented on #79
Is solved now

[2020-11-16 20:03] #79 closed

[2020-11-16 20:31] peterdesmet commented on #80
@jreubens what `treatment_type` would you want for the sentinel tags in `2010_phd_reubens_sync`?

[2020-11-16 20:37] peterdesmet commented on #47
@jreubens it is animal_id 673 with tag A69-1303-20695, which release_date and surgery_date should be `2010-08-09 13:00` (and not september). It cannot be set via the interface, I'm noting it for Aubri.

[2020-11-16 21:14] IPauwels commented on #80
When fine scale positioning data are added to the database (2 and 3D tracking) also reference, test and sentinel tags will be added, so we could check (perhaps in another issue?) how to define these. Treatment type seems the appropriate field to indicate something about this. A suggestion for values of treatment type:

- sync tag: a tag which is used for "_receiver clock synchronisation_" (or shor

[2020-11-17 09:39] #47 closed

[2020-11-17 10:37] peterdesmet commented on #41
All Diepenbeek, Hasselt en Genk capture and release locations/coordinates are now uniform.

[code]

[2020-11-17 10:37] #41 closed

[2020-11-17 10:59] peterdesmet commented on #80
Thanks Ine, for now I mostly need a `treatment_type` for sentinel tag.

[2020-11-17 11:32] peterdesmet commented on #59
@PieterjanVerhelst I notice that `has_weight:FALSE` does not occur. Should we assume it is false if it is not in the comments? I just wonder what the use of `has_weight:(TRUE)` is, can't we remove it completely?

network_project_code | comments with has_weight | comments without has_weight | no comments
--- | --- | --- | ---
2017_Fremur |  |  | 36
albert | 98 | 18 | 331
Ars |  |  | 21
bovenschelde

[2020-11-17 11:38] PieterjanVerhelst commented on #59
@peterdesmet I think we can remove it. We kept record for this info that if we downloaded data from a receiver in the field and we noticed it's mooring weight was lost, we had to take a new one with us for the next data-download round. Obviously, this info becomes redundant in the next deployment.

[2020-11-17 11:40] peterdesmet commented on #59
So, remove `, has_weight:[x], is_moored:[x], deploy_number:[x]` for all?

[2020-11-17 11:59] PieterjanVerhelst commented on #59
yes

[2020-11-17 15:09] peterdesmet commented on #59
All cleaned up, except for:

BPNS `VR2W-110781`: 1 deployment is mobile (on ship) and thus has no mandatory coordinates, for second deployment (tripode bij reefballs Belwind), I set mandatory station_name to `?` I think it is fine to leave it like that.

Some deployments for demer, which @IPauwels will look up.

[2020-11-23 11:10] peterdesmet commented on #59
Now resolved in 2014_demer

[2020-11-23 11:10] #59 closed

[2020-11-24 16:08] jreubens commented on #80
I guess we can delete sentinel tags from the system and only use sync tags... both names are mixed...
treatment_type and tagging_type seem redundant to for sync tags (as @PieterjanVerhelst ) mentioned
a sync tag is always for clock syncronisation... this is not a treatment.... A treatment is for an experiment.
THus I would not add this info for sync, sentinel, built-in or range
only for animal tag

[2020-11-24 16:57] peterdesmet commented on #80
Indeed, no need to use `treatment_type` (as that is something completely different). `tagging_type` can be left empty too. Should we just rely on the `scientific_name` then, and rename `Sentinel` to `Sync tag` (cf. Albertkanaal)?

[2020-12-01 11:04] jreubens commented on #80
Yes indeed. I'll change sentinel to sync

[2020-12-01 11:52] peterdesmet commented on #80
:+1: I have also removed `treatment_type=SENTINEL_TAG`. For two records it seems the scientific name will have to be changed by Aubri

[2020-12-01 12:32] peterdesmet commented on #78
Changed in DB:

- A69-1303-65302: one duplicate assignment from 2010-09-14 00:00 to 2011-03-11 was removed in animal table
- A69-1303-65307: recapture date was set to 2011-03-11 (instead of 2011-03-16) to not overlap with next assignment

[2020-12-01 12:38] peterdesmet commented on #78
@jreubens, we now have 2,226 duplicated rows (1,113 duplicates) all around the recovery/release date, for almost all tags. This is odd, because in the animals table, none of the recovery/release dates overlap anymore, while in the detections it seem they do, for 2011-03-11 and 2011-03-12:

tag_id | animal_id | date_time | (Number of Rows)
--- | --- | --- | ---
A69-1303-65302 | 733 | 2011-03-11 | 1

[2020-12-01 12:38] peterdesmet commented on #80
By removing a duplicate animal, I was able to update all scientific names.

[2020-12-01 12:38] #80 closed

[2020-12-01 13:31] jreubens commented on #78
I discussed this with Aubri and he told it is very hard to find this out. I guess this has lower priority and suggest we take the first detection of the two...

[2022-06-09 13:06] peterdesmet opened #81 "Duplicate detections in 2013_ALBERTKANAAL"
<img width="557" alt="Screenshot 2022-06-09 at 14 09 45" src="https://user-images.githubusercontent.com/600993/172843926-73bc4404-bd67-485a-b48c-191621a515d3.png">

The detection identifiers are unique, but the timestamps are duplicated because the data are linked to two deployments. I wonder if that is still the case when using `get_detections()` from the original database.